<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2018-2025, Tjaide Group All rights reserved.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tjaide.nursery.barrier.web.mapper.SysDepotUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tjaide.nursery.barrier.web.entity.SysDepotUser">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="depot_id" property="depotId"/>
        <result column="user_type" property="userType"/>
        <result column="photo" property="photo"/>
        <result column="remark" property="remark"/>
        <result column="nation" property="nation"/>
        <result column="leave_flatbed" property="certificateType"/>
        <result column="certificate_type" property="cardId"/>
        <result column="birthday" property="birthday"/>
        <result column="phone" property="phone"/>
        <result column="address" property="address"/>
        <result column="gender" property="gender"/>
        <result column="operator_id" property="operatorId"/>
        <result column="operator_name" property="operatorName"/>
        <result column="create_time" property="createTime"/>
        <result column="del_flag" property="delFlag"/>
    </resultMap>



    <select id="getUserById" resultMap="BaseResultMap">
        SELECT
        *
        FROM
        sys_depot_user
        <where>
            and id=#{user_id}
        </where>
    </select>



    <select id="relationPage" resultMap="BaseResultMap">
        SELECT
        a.id,a.name,a.depot_id,a.depot_type,a.dept_id,a.user_type,a.phone,a.gender,a.remark,a.nation,a.certificate_type
        ,a.card_id,a.birthday,a.phone,a.address,a.create_time,a.operator_id,a.operator_name,a.del_flag,a.tenant_id
        FROM
        sys_depot_user as a
        <where>
            and id !=#{id} and id not in (select member_id from sys_user_relation where user_id = #{id})
            <if test="query.name != null and query.name != ''">
                and name LIKE CONCAT('%',#{query.name},'%')
            </if>
            <if test="query.depotType != null and query.depotType != ''">
                and depot_type = #{query.depotType}
            </if>
            <if test="query.deptId != null and query.deptId != ''">
                and dept_id = #{query.deptId}
            </if>
        </where>
    </select>

</mapper>
