<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2018-2025, Tjaide Group All rights reserved.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tjaide.nursery.barrier.web.mapper.SysDepotUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tjaide.nursery.barrier.web.entity.SysDepotUser">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="depot_id" property="depotId"/>
        <result column="depot_type" property="depotType"/>
        <result column="dept_id" property="deptId"/>
        <result column="user_type" property="userType"/>
        <result column="photo" property="photo"/>
        <result column="remark" property="remark"/>
        <result column="nation" property="nation"/>
        <result column="certificate_type" property="certificateType"/>
        <result column="card_id" property="cardId"/>
        <result column="birthday" property="birthday"/>
        <result column="phone" property="phone"/>
        <result column="address" property="address"/>
        <result column="gender" property="gender"/>
        <result column="operator_id" property="operatorId"/>
        <result column="operator_name" property="operatorName"/>
        <result column="create_time" property="createTime"/>
        <result column="del_flag" property="delFlag"/>
    </resultMap>

    <!-- vo查询映射结果 -->
    <resultMap id="voResultMap" type="com.tjaide.nursery.barrier.web.vo.SysDepotUserVo">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="depot_id" property="depotId"/>
        <result column="depot_type" property="depotType"/>
        <result column="dept_id" property="deptId"/>
        <result column="user_type" property="userType"/>
        <result column="photo" property="photo"/>
        <result column="remark" property="remark"/>
        <result column="nation" property="nation"/>
        <result column="certificate_type" property="certificateType"/>
        <result column="card_id" property="cardId"/>
        <result column="birthday" property="birthday"/>
        <result column="phone" property="phone"/>
        <result column="address" property="address"/>
        <result column="gender" property="gender"/>
        <result column="operator_id" property="operatorId"/>
        <result column="operator_name" property="operatorName"/>
        <result column="create_time" property="createTime"/>
        <result column="del_flag" property="delFlag"/>
        <collection property="parents" column="id"
                     select="com.tjaide.nursery.barrier.web.mapper.SysDepotUserMapper.getParentsById"></collection>
    </resultMap>

    <select id="enterDepotUser" resultMap="BaseResultMap">
		SELECT
		DISTINCT
		u.id,
		u.name,
		u.depot_id,
		u.depot_type,
		u.dept_id,
		u.user_type,
		u.remark,
		u.nation,
		u.certificate_type,
		u.card_id,
		u.birthday,
		u.phone,
		u.address,
		u.gender
		FROM
		sys_pass_process p
		LEFT JOIN sys_depot_user AS u ON u.id = p.discern_id
		WHERE u.del_flag = '0' and DATEDIFF(p.create_time,NOW())=-1
	</select>

    <select id="getParentsById" resultMap="BaseResultMap">
		SELECT u.id,
		u.name,
		u.depot_id,
		u.depot_type,
		u.dept_id,
		u.user_type,
		u.remark,
		u.nation,
		u.certificate_type,
		u.card_id,
		u.birthday,
		u.phone,
		u.address,
		u.gender
		FROM
		sys_depot_user u join sys_user_relation r on u.id=r.member_id
		WHERE r.user_id=#{id} and   u.del_flag = '0'
	</select>

    <select id="getGraduation" resultType="java.lang.Integer">
    SELECT DISTINCT
        u.id
    FROM
        sys_depot_user AS u
        LEFT JOIN sys_dict_item AS d ON u.dept_id = d.`value`
    WHERE
        d.type = 'class_type'
        AND d.del_flag = 1
        AND u.del_flag = 0
        AND (u.user_type = 1
        OR u.user_type = 3)

    UNION

    SELECT DISTINCT
        u.id
    FROM
        sys_depot_user AS u
        LEFT JOIN sys_dept AS d ON u.dept_id = d.dept_id
    WHERE
        (d.del_flag = 1 )
        AND u.del_flag = 0
        AND (u.user_type = 2
        OR u.user_type = 9)
    </select>

<!--or d.dept_id = 1 -->

    <select id="getUserById" resultMap="BaseResultMap">
        SELECT
        *
        FROM
        sys_depot_user
        <where>
            and id=#{user_id}
        </where>
    </select>



    <select id="relationPage" resultMap="BaseResultMap">
        SELECT
        a.id,a.name,a.depot_id,a.depot_type,a.dept_id,a.user_type,a.phone,a.gender,a.remark,a.nation,a.certificate_type
        ,a.card_id,a.birthday,a.phone,a.address,a.create_time,a.operator_id,a.operator_name,a.del_flag,a.tenant_id
        FROM
        sys_depot_user as a
        <where>
            and id !=#{id} and id not in (select member_id from sys_user_relation where user_id = #{id})
            <if test="query.name != null and query.name != ''">
                and name LIKE CONCAT('%',#{query.name},'%')
            </if>
            <if test="query.depotType != null and query.depotType != ''">
                and depot_type = #{query.depotType}
            </if>
            <if test="query.deptId != null and query.deptId != ''">
                and dept_id = #{query.deptId}
            </if>
        </where>
    </select>

    <select id="userPage" resultMap="voResultMap">
        SELECT
        a.id,a.name,a.depot_id,a.depot_type,a.dept_id,a.user_type,a.phone,a.gender,a.remark,a.nation,a.certificate_type
        ,a.card_id,a.birthday,a.photo,a.address,a.create_time,a.operator_id,a.operator_name,a.del_flag,a.tenant_id
        FROM
        sys_depot_user as a
        <where>
            AND a.del_flag = 0
            <if test="query.name != null and query.name != ''">
                and name LIKE CONCAT('%',#{query.name},'%')
            </if>
            <if test="query.depotId != null">
                and depot_id = #{query.depotId}
            </if>
            <if test="query.userType != null and query.userType != ''">
                and user_type = #{query.userType}
            </if>
            <if test="query.deptId != null and query.deptId != ''">
                and dept_id = #{query.deptId}
            </if>
        </where>
    </select>
    <select id="userList" resultType="java.util.LinkedHashMap">
        SELECT DISTINCT
        a.id as '人员编号',case a.gender when 0 then '男' WHEN 1 THEN '女' ELSE '未知'  END as '性别',case a.user_type when 1 then '学生' else '家长' END as'人员类型',b.label as '班级/部门',c.label  as '证件类型',a.name as '姓名', a.card_id as '证件号'
        FROM
        sys_depot_user as a,
        sys_dict_item  as b,sys_dict_item  as c where b.type = 'class_type' and b.del_flag = 0  and a.dept_id =b.`value`
        and c.type = 'certificate_type' and c.del_flag = 0  and a.certificate_type =c.`value`
        and (user_type  = 1 or user_type = 3) and a.del_flag = 0
        UNION
        SELECT DISTINCT
        a.id as '人员编号',case a.gender when 0 then '男' WHEN 1 THEN '女' ELSE '未知'  END as '性别',case a.user_type when 2 then '教职工' else '未知' END as'人员类型',b.dept_name as '班级/部门',c.label  as '证件类型',a.name as '姓名', a.card_id as '证件号'
        FROM
        sys_depot_user as a,
        sys_dept  as b,sys_dict_item  as c where b.dept_id = a.dept_id and b.del_flag = 0
        and c.type = 'certificate_type' and c.del_flag = 0  and a.certificate_type =c.`value`
        and (user_type  = 2 or user_type = 9)  and a.del_flag = 0
    </select>



</mapper>
