<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2018-2025, Tjaide Group All rights reserved.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tjaide.nursery.barrier.web.mapper.SysPassProcessMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tjaide.nursery.barrier.web.entity.SysPassProcess">
        <id column="id" property="id"/>
        <result column="enter_type" property="enterType"/>
        <result column="sanp_pic" property="sanpPic"/>
        <result column="registered_pic" property="registeredPic"/>
        <result column="status" property="status"/>
        <result column="remark" property="remark"/>
        <result column="user_id" property="userId"/>
        <result column="discern_id" property="discernId"/>
        <result column="create_time" property="createTime"/>
    </resultMap>
    <!-- 通用查询映射结果 -->
    <resultMap id="passProcessMap" type="com.tjaide.nursery.barrier.web.vo.SysPassProcessVo">
        <id column="id" property="id"/>
        <result column="enter_type" property="enterType"/>
        <result column="sanp_pic" property="sanpPic"/>
        <result column="registered_pic" property="registeredPic"/>
        <result column="status" property="status"/>
        <result column="remark" property="remark"/>
        <result column="user_id" property="userId"/>
        <result column="discern_id" property="discernId"/>
        <result column="create_time" property="createTime"/>
        <result column="user_name" property="userName"/>
        <result column="discern_name" property="discernName"/>
        <association property="user" column="user_id"
                     select="com.tjaide.nursery.barrier.web.mapper.SysDepotUserMapper.getUserById"></association>
        <association property="discernUser" column="discern_id"
                     select="com.tjaide.nursery.barrier.web.mapper.SysDepotUserMapper.getUserById"></association>
    </resultMap>
    <select id="findRecentPassVoList" resultMap="passProcessMap">
		SELECT
			`id`, `enter_type`, `sanp_pic`, `create_time`, `status`, `remark`, `user_id`, `discern_id`, `registered_pic`
		FROM
			sys_pass_process
		ORDER BY
			create_time DESC
			 limit 0,10
    </select>
    <select id="getCountByCreateDate" resultType="Integer">
		SELECT
			count(id)
		FROM
			sys_pass_process
        <where>
            and create_time >= #{start_time} and create_time &lt;= #{end_time}
            <if test="type != null and type != ''">
                and enter_type= #{type}
            </if>
        </where>
    </select>

    <select id="getCountByUserTypeCreateDate" resultType="Integer">
		SELECT
          count(a.id)
        FROM
        sys_pass_process a join sys_depot_user b on a.discern_id=b.id
        <where>
            and a.create_time &gt;= #{start_time} and a.create_time &lt;= #{end_time}
            <if test="userType != null and userType != ''">
                and b.user_type= #{userType}
            </if>
        </where>
    </select>


    <select id="getPage" resultMap="passProcessMap">
        SELECT
        a.`id`, a.`enter_type`, a.`sanp_pic`, a.`create_time`, a.`status`, a.`remark`, a.`user_id`, a.`discern_id`, a.`registered_pic`,b.name as user_name,c.name as discern_name
        FROM
        sys_pass_process as a left join sys_depot_user as b on a.user_id = b.id
        left join sys_depot_user as c on a.discern_id = c.id
        <where>
            <if test="query.name != null and query.name != ''">
                and c.name LIKE CONCAT('%',#{query.name},'%')
            </if>
            <if test="query.enterType != null and query.enterType != ''">
                and enter_type = #{query.enterType}
            </if>
            <if test="query.userType != null and query.userType != ''">
                and c.user_type = #{query.userType}
            </if>
            <if test="query.startTime != null and query.startTime != ''">
                and a.create_time &gt;= #{query.startTime}
                and a.create_time &lt;= #{query.endTime}
            </if>

        </where>
        ORDER BY a.create_time DESC
    </select>

</mapper>
