<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tjaide.nursery.barrier.web.mapper.SysUserMapper">
    <!-- 通用查询映射结果 -->
    <!-- 通用查询映射结果 -->
    <resultMap id="baseResultMap" type="com.tjaide.nursery.barrier.web.vo.UserVO">
        <id column="user_id" property="userId"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="salt" property="salt"/>
        <result column="phone" property="phone"/>
        <result column="avatar" property="avatar"/>
        <result column="ucreate_time" property="createTime"/>
        <result column="uupdate_time" property="updateTime"/>
        <result column="lock_flag" property="lockFlag"/>
        <result column="udel_flag" property="delFlag"/>
        <result column="tenantId" property="tenantId"/>
        <result column="deptName" property="deptName"/>
        <result column="email" property="email"/>
        <collection property="roleList" ofType="com.tjaide.nursery.barrier.web.entity.SysRole"
                    select="com.tjaide.nursery.barrier.web.mapper.SysRoleMapper.listRolesByUserId" column="user_id">
        </collection>
        <collection property="deptList" ofType="com.tjaide.nursery.barrier.web.entity.SysDept"
                    select="com.tjaide.nursery.barrier.web.mapper.SysDeptMapper.listDeptByUserId" column="user_id">
        </collection>
    </resultMap>

    <!-- userVo结果集 -->
    <resultMap id="userVoResultMap" type="com.tjaide.nursery.barrier.web.vo.UserVO">
        <id column="user_id" property="userId"/>
        <result column="username" property="username"/>
        <result column="name" property="name"/>
        <result column="password" property="password"/>
        <result column="salt" property="salt"/>
        <result column="phone" property="phone"/>
        <result column="avatar" property="avatar"/>
        <result column="ucreate_time" property="createTime"/>
        <result column="uupdate_time" property="updateTime"/>
        <result column="lock_flag" property="lockFlag"/>
        <result column="udel_flag" property="delFlag"/>
        <result column="tenantId" property="tenantId"/>
        <result column="deptName" property="deptName"/>
        <result column="email" property="email"/>
        <collection property="roleList" ofType="com.tjaide.nursery.barrier.web.entity.SysRole">
            <id column="role_id" property="roleId"/>
            <result column="role_name" property="roleName"/>
            <result column="role_code" property="roleCode"/>
            <result column="role_desc" property="roleDesc"/>
            <result column="rcreate_time" property="createTime"/>
            <result column="rupdate_time" property="updateTime"/>
        </collection>
        <collection property="deptList" ofType="com.tjaide.nursery.barrier.web.entity.SysDept">
            <id column="dept_id" property="deptId"/>
            <result column="dept_name" property="deptName"/>
            <result column="dept_code" property="deptCode"/>
            <result column="sort" property="sort"/>
            <result column="dcreate_time" property="createTime"/>
            <result column="dupdate_time" property="updateTime"/>
            <result column="parent_id" property="parentId"/>
            <result column="dept_type" property="deptType"/>
        </collection>
    </resultMap>

    <sql id="userSql">
		suser.user_id,
		suser.username,
		suser.password,
		suser.salt,
		suser.phone,
		suser.avatar,
		suser.dept_id,
		suser.create_time AS ucreate_time,
		suser.update_time AS uupdate_time,
		suser.del_flag AS udel_flag,
		suser.lock_flag AS lock_flag,
		suser.dept_id AS deptId,
		suser.tenant_id AS tenantId,
		r.role_id,
		r.role_name,
		r.role_code,
		r.role_desc,
		r.create_time AS rcreate_time,
		r.update_time AS rupdate_time,
		d.dept_id,
		d.dept_name,
		d.dept_code,
		d.sort,
		d.dept_type,
		d.parent_id,
		d.create_time AS dcreate_time,
		d.update_time AS dupdate_time
	</sql>


    <select id="getUserVoByUsername" resultMap="userVoResultMap">
        SELECT
        <include refid="userSql"/>
        FROM
        sys_user AS suser
        LEFT JOIN sys_user_role AS ur ON ur.user_id = suser.user_id
        LEFT JOIN sys_role AS r ON r.role_id = ur.role_id
        LEFT JOIN sys_user_dept AS ud ON ud.user_id = suser.user_id
        LEFT JOIN sys_dept AS d ON rd.role_id = ud.role_id
        WHERE suser.username = #{username}
    </select>

    <select id="getUserVoById" resultMap="userVoResultMap">
        SELECT
        <include refid="userSql"/>
        FROM
        sys_user AS suser
        LEFT JOIN sys_user_role AS ur ON ur.user_id = suser.user_id
        LEFT JOIN sys_role AS r ON r.role_id = ur.role_id
        LEFT JOIN sys_user_dept AS ud ON ud.user_id = suser.user_id
        LEFT JOIN sys_dept AS d ON rd.role_id = ud.role_id
        WHERE
        suser.user_id = #{id}
    </select>

    <select id="getUserVosPage" resultMap="baseResultMap">
        SELECT
        suser.user_id,
        suser.username,
        suser.password,
        suser.salt,
        suser.phone,
        suser.avatar,
        suser.create_time AS ucreate_time,
        suser.update_time AS uupdate_time,
        suser.del_flag AS udel_flag,
        suser.lock_flag AS lock_flag,
        suser.tenant_id AS tenantId
        FROM
        sys_user AS suser
        <where>
            and suser.del_flag = '0'
            <if test="query.username != null and query.username != ''">
                and suser.username LIKE CONCAT('%',#{query.username},'%')
            </if>
        </where>
        ORDER BY suser.create_time DESC
    </select>

</mapper>