<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2018-2025, Tjaide Group All rights reserved.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tjaide.nursery.barrier.web.mapper.SysUserDeptMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tjaide.nursery.barrier.web.entity.SysUserDept">
        <id column="user_id" property="userId"/>
        <result column="dept_id" property="deptId"/>
    </resultMap>

    <!--根据用户Id删除该用户的部门关系-->
    <delete id="deleteByUserId">
		DELETE FROM sys_user_dept WHERE user_id = #{userId}
	</delete>

</mapper>
