<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>门闸管理</title>
    <!--框架必需start-->
    <script type="text/javascript" th:src="@{/static/js/public/base-util.js}" src="../../static/js/public/base-util.js"></script>
    <script type="text/javascript" th:src="@{/libs/js/jquery.js}" src="../../libs/js/jquery.js"></script>
    <script type="text/javascript" th:src="@{/libs/js/language/cn.js}" src="../../libs/js/language/cn.js"></script>
    <script type="text/javascript" th:src="@{/libs/js/framework.js}" src="../../libs/js/framework.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/libs/css/import_basic.css}" href="../../libs/css/import_basic.css"/>
    <link rel="stylesheet" type="text/css" id="skin" prePath="../../"/>
    <link rel="stylesheet" type="text/css" id="customSkin"/>
    <!--框架必需end-->

    <!-- 表单验证start -->
    <script type="text/javascript" th:src="@{/libs/js/form/validationRule.js}" src="../../libs/js/form/validationRule.js"></script>
    <script type="text/javascript" th:src="@{/libs/js/form/validation.js}" src="../../libs/js/form/validation.js"></script>
    <!-- 表单验证end -->

    <!--表单异步提交start-->
    <script type="text/javascript" th:src="@{/libs/js/form/form.js}" src="../../libs/js/form/form.js"></script>
    <!--表单异步提交end-->
    <!-- 树组件start -->
    <script type="text/javascript" th:src="@{/libs/js/tree/ztree/ztree.js}" src="../../libs/js/tree/ztree/ztree.js"></script>
    <link type="text/css" rel="stylesheet" th:href="@{/libs/js/tree/ztree/ztree.css}" href="../../libs/js/tree/ztree/ztree.css"></link>
    <!-- 树组件end -->
    <!-- 树形下拉框start -->
    <script type="text/javascript" th:src="@{/libs/js/form/selectTree.js}" src="../../libs/js/form/selectTree.js"></script>
    <!-- 树形下拉框end -->
    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        ctxPath = /*[[@{/}]]*/ '';
        /*]]>*/
    </script>
</head>
<body>
<div class="form_content" id="formContent">
    <form id="formAdd" method="post">
        <table class="tableStyle" formMode="view">
            <tr>
                <td><span class="star">*</span>门闸编码：</td>
                <td>
                    <input type="hidden" id="id" name="id"/>
                    <input type="text" id="number" name="number" class="validate[required,ajax[/api/validate/sys_barrier/number|* 闸机编号已存在!]"/>
                </td>
            </tr>
            <tr>
                <td><span class="star">*</span>门闸名称：</td>
                <td><input type="text" id="name" name="name" class="validate[required]"/>
                </td>
            </tr>
            <tr>
                <td><span class="star">*</span>进入平板：</td>
                <td><select id="enterFlatbed" prompt="请选择平板" class="validate[required] flatbed"></select>
                </td>
            </tr>
            <tr>
                <td><span class="star">*</span>离开平板：</td>
                <td><select id="leaveFlatbed" prompt="请选择平板" class="validate[required] flatbed"></select>
                </td>
            </tr>
            <tr>
                <td>描述：</td>
                <td><textarea id="description" name="description" style="resize: none;"></textarea>
                </td>
            </tr>
        </table>
    </form>
</div>

<script type="text/javascript">
    var id = '[[${param.id}]]';
    $.ajax({
        url: ctxPath + "flatbed/list",
        type: 'get',
        data: {}
    }).then(function (res) {
        var data = res.data
        for (var i = 0; i < data.length; i++) {
            console.log(data[i]);
            data[i].value = data[i].id;
            data[i].key = data[i].name;
        }
        //赋给data属性
        $(".flatbed").data("data", {"list":data});
        //刷新树形下拉框
        $(".flatbed").render();

    }, function () {
        top.Toast("showErrorToast", '加载平板出错');
    })
    //保存
    function save() {
        var valid = $(formAdd).validationEngine({returnIsValid: true});
        if (valid == true) {
            var barrier = {};
            barrier.id = $('#id').val();
            barrier.number = $('#number').val();
            barrier.name = $('#name').val();
            barrier.description = $('#description').val();
            barrier.enterFlatbed = $("#enterFlatbed").attr("relValue");
            barrier.leaveFlatbed = $("#leaveFlatbed").attr("relValue");
            barrier.delFlag = "0";
            barrier.tenantId = "1";

            var type = 'post';
            if ('' != id) {
                type = 'put';
            }
            $.jsonAjax({
                url: ctxPath + "barrier",
                type: type,
                data: barrier,
            }).then(function (res) {
                if (0 == res.code) {
                    if(top.frmright){
                        top.frmright.refresh();
                    }
                    top.Dialog.close()
                } else {
                    top.Toast("showErrorToast", '操作异常');
                }
            }, function () {
                top.Toast("showErrorToast", '提交失败！');
            })
        } else {
            top.Toast("showErrorToast", '表单填写不正确，请按要求填写！');
        }
    }

    //查询角色信息
    $(function () {
        if ('' != id) {
            $.ajax({
                url: ctxPath + "barrier/" + id,
                type: 'get'
            }).then(function (res) {
                var data = res.data
                $("#id").val(data.id);
                $("#number").val(data.number);
                $("#name").val(data.name);
                $("#description").val(data.description);
                $("#enterFlatbed").setValue(data.enterFlatbed);
                $("#leaveFlatbed").setValue(data.leaveFlatbed);
            })
        }
    })

</script>
</body>
</html>