<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>人员进出记录</title>
    <!--框架必需start-->
    <script type="text/javascript" th:src="@{/static/js/public/base-util.js}"
            src="../../static/js/public/base-util.js"></script>
    <script type="text/javascript" th:src="@{/libs/js/jquery.js}" src="../../libs/js/jquery.js"></script>
    <script type="text/javascript" th:src="@{/libs/js/language/cn.js}" src="../../libs/js/language/cn.js"></script>
    <script type="text/javascript" th:src="@{/libs/js/framework.js}" src="../../libs/js/framework.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/libs/css/import_basic.css}"
          href="../../libs/css/import_basic.css"/>
    <link rel="stylesheet" type="text/css" id="skin" prePath="../../"/>
    <link rel="stylesheet" type="text/css" id="customSkin"/>
    <!--框架必需end-->

    <!-- iconfont start -->
    <link rel="stylesheet" type="text/css" th:href="@{/static/iconfont/iconfont.css}" href="../../static/iconfont/iconfont.css"/>
    <!-- iconfont end -->
    <!-- card单独样式 start -->
    <link rel="stylesheet" type="text/css" th:href="@{/libs/skin/style/card.css}" href="../../libs/skin/style/card.css"/>
    <!-- card单独样式 end -->
    <!--数据表格start-->
    <script th:src="@{/libs/js/table/quiGrid.js}" src="../../libs/js/table/quiGrid.js" type="text/javascript"></script>
    <!--数据表格end-->
    <!-- 日期选择框start -->
    <script type="text/javascript" th:src="@{/libs/js/form/datePicker/WdatePicker.js}" src="../../libs/js/form/datePicker/WdatePicker.js"></script>
    <!-- 日期选择框end -->

    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        ctxPath = /*[[@{/}]]*/ '';
        /*]]>*/
    </script>
    <style>
        .user-img{
            width: 40px;
            height: 40px;
            line-height: 40px;
            margin: auto;
        }
        .user-img img{
            width: 80%;
            height: 100%;
            border-radius: 2px;
        }
    </style>
</head>

<body>

<div class="page_content">
    <div class="titleContent" style="margin:3px 5px;">
        校园进出人员记录
    </div>
    <div class="searchContent">
        <form action="###" id="queryForm" method="post">
            <table style="float: right;">
                <tr>
                    <td>
                        <input type="text" placeholder="姓名" id="name"/>
                    </td>
                    <td>
                        <select id="userType" data='{"list":[{"value":"1","key":"学生"},{"value":"2","key":"教职工"},{"value":"3","key":"家长"},{"value":"9","key":"未知"}]}'
                                prompt="请选择人员类型"></select>
                    </td>
                    <td>
                        <select id="enterType" data='{"list":[{"value":"0","key":"进校"},{"value":"1","key":"离校"}]}'
                                prompt="请选择进出类型"></select>
                    </td>
                    <td>
                       <!-- <input id="createTime" type="text" class="date" placeholder="请选择日期"/>-->
                        <input type="text" id="beginTime" class="dateIcon" />
                        <input type="text" id="endTime" class="dateIcon" />
                    </td>
                    <td>
                        <button type="button" id="search" class="primary" onclick="searchHandler()">
                            <span class="icon_find">查询</span>
                        </button>
                    </td>
                    <td>
                        <button type="button" onclick="resetSearch()">
                            <span class="icon_clear">重置</span>
                        </button>
                    </td>
                    <td>
                        <button type="button" class="warning" onclick="exportExcel()">
                            <span class="icon_export">导出明细</span>
                        </button>
                    </td>
                    <td>
                        <button type="button" class="success" onclick="exportExcel()">
                            <span class="icon_export">导出考勤</span>
                        </button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <div id="dataBasic"></div>
</div>

<form action="" id="downloadForm" method="post">
    <input type="hidden" name="name" value="" id="nameExcel"/>
    <input type="hidden" name="startTime" value="" id="startTimeExcel"/>
    <input type="hidden" name="endTime" value="" id="endTimeExcel"/>
    <input type="hidden" name="userType" value="" id="userTypeExcel"/>
    <input type="hidden" name="enterType" value="" id="enterTypeExcel"/>
</form>
<script type="text/javascript">
    var dateSkin = "blue";

    function searchHandler() {
        var paramsx = {};
        var name = $("#name").val();
        if (name) {
            paramsx.name = name;
        }
        /*
        var createTime = $("#createTime").val();
        if (createTime) {
            paramsx.startTime = createTime
        }*/

        var beginTime = $("#beginTime").val();
        if (beginTime) {
            paramsx.startTime = beginTime;
        }

        var endTime = $("#endTime").val();
        if (endTime) {
            paramsx.endTime = endTime;
        }

        var userType = $("#userType").val();
        if (userType) {
            paramsx.userType = userType
        }


        var enterType = $("#enterType").val();
        if (enterType == 0 ||enterType == 1) {
            paramsx.enterType = enterType
        }

        paramsx.filters = JSON.stringify(paramsx);

        grid.setOptions({
            params: paramsx
        });
        grid.setNewPage(1);
        grid.loadData();
    }

    function exportExcel(){
        var name = $("#name").val();
        if (name) {
            $("#nameExcel").val(name);
        }else{
            $("#nameExcel").val("");
        }

        /*var createTime = $("#createTime").val();
        if (createTime) {
            $("#startTimeExcel").val(createTime);
        }else{
            $("#startTimeExcel").val("");
        }*/
        var beginTime = $("#beginTime").val();
        if (beginTime) {
            $("#startTimeExcel").val(beginTime);
        }else{
            $("#startTimeExcel").val("");
        }

        var endTime = $("#endTime").val();
        if (endTime) {
            $("#endTimeExcel").val(endTime);
        }else{
            $("#endTimeExcel").val("");
        }


        var userType = $("#userType").val();
        if (userType) {
            $("#userTypeExcel").val(userType);
        }else{
            $("#userTypeExcel").val("");
        }


        var enterType = $("#enterType").val();
        if (enterType == 0 ||enterType == 1) {
            $("#enterTypeExcel").val(enterType);
        }else{
            $("#enterTypeExcel").val("");
        }
        var $reportForm = $("#downloadForm");
        $reportForm.attr("action", ctxPath + "passProcess/download");
        console.log($reportForm);
        $reportForm.submit();
    }

    function resetSearch() {
        $("#queryForm")[0].reset();
        searchHandler();
    }
    $(function () {

        //获取当前主题风格，用于设置日期控件的皮肤
        try {
            dateSkin = themeColor;
        } catch(e) {}

        //自定义点击触发日期控件
        document.getElementById('beginTime').onfocus = function() {
            var endtimeTf = $dp.$('endTime');
            WdatePicker({
                skin: dateSkin,
                onpicked: function() {
                    endtimeTf.focus();
                },
                maxDate: '#F{$dp.$D(\'endTime\')}'
            });
        }
        document.getElementById('endTime').onfocus = function() {
            //这里设置了最大日期为当前日期，如果不需要则把maxDate:'%y-%M-%d'去掉
            WdatePicker({
                skin: dateSkin,
                minDate: '#F{$dp.$D(\'beginTime\')}'
            });
        }

        grid = $("#dataBasic").quiGrid({
            columns: [
                {display: '识别照片', name: 'sanpPic', align: 'center', width: "10%",
                    render: function (rowdata, rowindex, value, column) {
                        if(value.startsWith("/")){
                            var img = '<div class="user-img">';
                            img += '<img src="'+value+'"/>';
                            img += '</div>';
                            return img;
                        }else{
                            return "暂未关联头像"
                        }
                    }},
                {display: '抓拍照片', name: 'registeredPic', align: 'center', width: "10%",
                    render: function (rowdata, rowindex, value, column) {
                        if(value.startsWith("/")){
                            var img = '<div class="user-img">';
                            img += '<img src="'+value+'"/>';
                            img += '</div>';
                            return img;
                        }else{
                            return "暂未关联头像"
                        }
                    }},
                {display: '姓名', name: 'discernName', align: 'center', width: "12%"},
                {display: '识别用户', name: 'userName', align: 'center', width: "15%"},
                {display: '类型', name: 'enterType', align: 'center', width: "10%",
                    render: function (rowdata, rowindex, value, column) {
                    //1学生2教职工3家长9未知
                        switch (value) {
                            case 0:
                                return "进校"
                            case 1:
                                return "出校"
                        }
                    }},
                {display: '用户关系', name: 'parentType', align: 'center', width: "15%"},
                {display: '部门', name: 'deptName', align: 'center', width: "10%"},
                {display: '进出时间', name: 'createTimeStr', align: 'center', width: "15%"}
            ],
            url: ctxPath + 'passProcess/page',
            method: 'get',
            sortName: 'create_time',
            sortOrder: "ASC",
            height: '100%',
            width: "100%",
            rownumbers: true,
            checkbox: false,
            pageSize: 10,
            percentWidthMode: false,
            onComplete: isnull,
            onAfterShowData: onAfterShowData
        });
        $("body").append('<div class="maingrid_content" style="height: 99%;"><IFRAME style="box-sizing: border-box; background: white;" height="100%" width="100%" frameBorder=0 id=frmright name=frmright src="" allowTransparency="true"></IFRAME></div>');
        //点击空白退回
        $(".page_content").click(function (e) {
            if ($(e.target).attr("class") != "l-grid-row-cell-inner-text") {
                $(".maingrid_content").stop().animate({marginRight: "-100%"}, 300, function () {
                    $(".maingrid_content").hide();
                });
            }
        });
    })

    function isnull() {
        if ($(".l-grid-body,.l-scroll").find("tr").length > 0) {
        } else {
            $(".l-grid-body,.l-scroll").find("div.l-grid-body-inner").html(
                "<div class=\"indexnodata\">\n"
                + "<p> 当前没有查找到结果</p>\n"
                + "<p>请更改筛选条件,可以在更多的筛选条件里设置</p>\n" + "</div>")
        }
    }

    function onAfterShowData(data){
        $('#allNumber').html(data['pager.totalRows'])
    }



    //刷新
    function refresh(isUpdate) {
        if (!isUpdate) {
            grid.setNewPage(1);
        }
        grid.loadData();
    }
</script>
<style>
    .page_content {
        position: fixed;
        background-color: #ffffff;
        margin: 15px;
        height: calc(100vh - 140px);
        width: calc(100% - 45px);
        margin: 15px !important;
    }
</style>
</body>
</html>