<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>角色管理</title>
    <!--框架必需start-->
    <script type="text/javascript" th:src="@{/static/js/public/base-util.js}"
            src="../../static/js/public/base-util.js"></script>
    <script type="text/javascript" th:src="@{/libs/js/jquery.js}" src="../../libs/js/jquery.js"></script>
    <script type="text/javascript" th:src="@{/libs/js/language/cn.js}" src="../../libs/js/language/cn.js"></script>
    <script type="text/javascript" th:src="@{/libs/js/framework.js}" src="../../libs/js/framework.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/libs/css/import_basic.css}"
          href="../../libs/css/import_basic.css"/>
    <link rel="stylesheet" type="text/css" id="skin" prePath="../../"/>
    <link rel="stylesheet" type="text/css" id="customSkin"/>
    <!--框架必需end-->

    <!-- iconfont start -->
    <link rel="stylesheet" type="text/css" th:href="@{/static/iconfont/iconfont.css}"
          href="../../static/iconfont/iconfont.css"/>
    <!-- iconfont end -->
    <!-- card单独样式 start -->
    <!--<link rel="stylesheet" type="text/css" th:href="@{/system/skin/card.css}" href="../../system/skin/card.css"/>-->
    <link rel="stylesheet" type="text/css" th:href="@{/libs/skin/style/card.css}" href="../../libs/skin/style/card.css"/>
    <!-- card单独样式 end -->
    <!--数据表格start-->
    <script th:src="@{/libs/js/table/quiGrid.js}" src="../../libs/js/table/quiGrid.js" type="text/javascript"></script>
    <!--数据表格end-->
    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        ctxPath = /*[[@{/}]]*/ '';
        /*]]>*/
    </script>
</head>

<body>
<!--card-->
<div class="content nobg" style="width: calc(100% - 10px);">
    <ul class="content_card">
        <li onclick="addUnit()">
            <div class="minute">
                <div class="minute-content">
                    <div class="minute_left">
                        <div style="font-weight:bold;font-size: 22px;">新建信息</div>
                        <div style="line-height: 18px;font-size: 9px;">New information</div>
                    </div>
                    <div class="minute_right"><img src="../../system/skin/s1.png"></div>
                </div>
            </div>
        </li>
        <li onclick="_onEdit()">
            <div class="minute">
                <div class="minute-content">
                    <div class="minute_left">
                        <div style="font-weight:bold;font-size: 22px;">编辑</div>
                        <div style="line-height: 18px;font-size: 9px;">Bulk import</div>
                    </div>
                    <div class="minute_right"><img src="../../system/skin/s2.png"></div>
                </div>
            </div>
        </li>
        <li>
            <div class="minute">
                <div class="minute-content">
                    <div class="minute_left">
                        <div style="font-weight:bold;font-size: 22px;">批量删除</div>
                        <div style="line-height: 18px;font-size: 9px;">Batch delete</div>
                    </div>
                    <div class="minute_right"><img src="../../system/skin/s3.png"></div>
                </div>
            </div>
        </li>

        <li>
            <div class="minute">
                <div class="minute-content">
                    <div class="minute_left">
                        <div id="allNumber" style="font-weight:bold;font-size: 22px;">0</div>
                        <div style="line-height: 18px;font-size: 14px;">角色总数</div>
                    </div>
                    <div class="minute_right"><img src="../../system/skin/s5.png"></div>
                </div>
            </div>
        </li>

        <li>
            <div class="minute">
                <div class="minute-content">
                    <div class="minute_left" style="width: 55%;">
                        <!--<div style="font-weight:bold;font-size: 22px;"></div>-->
                        <div style="line-height: 18px;font-size: 14px;">系统中用户的操作权限通过角色来控制</div>
                    </div>
                    <div class="minute_right"><img src="../../system/skin/s4.png"></div>
                </div>
            </div>
        </li>
    </ul>
</div>
<!--end-->
<div class="page_content">
    <div class="titleContent" style="margin:3px 5px">
        系统角色权限管理
    </div>
    <div id="dataBasic"></div>
</div>
<script type="text/javascript">
    var grid;
    $(function () {
        grid = $("#dataBasic").quiGrid({
            columns: [
                {display: '角色标识', name: 'roleCode', align: 'center', width: "10%"},
                {display: '角色名称', name: 'roleName', align: 'center', width: "15%"},
                {
                    display: '数据权限', name: 'dsType', align: 'center', width: "10%",
                    render: function (rowdata, rowindex, value, column) {
                        switch (value) {
                            case 0:
                                return "全部"
                            case 1:
                                return "自定义"
                            case 2:
                                return "本级及子级"
                            case 3:
                                return "本级"
                        }
                    }
                },
                {
                    display: '角色描述', name: 'roleDesc', align: 'center', width: "45%",
                    render: function (rowdata, rowindex, value, column) {
                        return value ? '(' + replacehtml(rowdata.roleDesc) + ')' : "无";
                    }
                },
                {
                    display: '操作', align: 'center', width: "20%",
                    render: function (rowdata, rowindex, value, column) {
                        var bar = '<div class="grid_user_container">';
                        bar += '<div class="iconfont icon-chakan bg4 qTip" title="查看" onclick="onView(\'' + rowdata.roleId + '\')"></div>';
                        bar += '<div class="iconfont icon-bianji bg1 qTip" title="编辑" onclick="onEdit(\'' + rowdata.roleId + '\')"></div>';
                        if ('ROLE_ADMIN' != rowdata.roleCode) {
                            bar += '<div class="iconfont icon-shanchu bg2 qTip" title="删除" onclick="onDelete(\'' + rowdata.roleId + '\')"></div>';
                        }
                        bar += '<div class="iconfont icon-quanxianshezhi bg3 qTip" title="权限" onclick="onPpermissions(\'' + rowdata.roleId + '\')"></div>';
                        bar += '</div>';
                        return bar;
                    }
                }
            ],
            url: ctxPath + 'role/page',
            method: 'get',
            sortName: 'role_id',
            sortOrder: "ASC",
            rownumbers: true,
            checkbox: true,
            height: '100%',
            width: "100%",
            pageSize: 100,
            percentWidthMode: false,
            onComplete: isnull,
            onAfterShowData: onAfterShowData,
            onClickCell: function (rowdata, rowid, rowobj) {
                $(".maingrid_content").show();
                $(".maingrid_content").find("iframe").attr("src", "/role/view?role_id=" + rowdata.role_id);
                $(".maingrid_content").stop().animate({marginRight: "0"}, 500);
            }
        });
        $("body").append('<div class="maingrid_content" style="height: 99%;"><IFRAME style="box-sizing: border-box; background: white;" height="100%" width="100%" frameBorder=0 id=frmright name=frmright src="" allowTransparency="true"></IFRAME></div>');
        //点击空白退回
        $(".page_content").click(function (e) {
            if ($(e.target).attr("class") != "l-grid-row-cell-inner-text") {
                $(".maingrid_content").stop().animate({marginRight: "-100%"}, 300, function () {
                    $(".maingrid_content").hide();
                });
            }
        });
    })

    function isnull() {
        if ($(".l-grid-body,.l-scroll").find("tr").length > 0) {
        } else {
            $(".l-grid-body,.l-scroll").find("div.l-grid-body-inner").html(
                "<div class=\"indexnodata\">\n"
                + "<p> 当前没有查找到结果</p>\n"
                + "<p>请更改筛选条件,可以在更多的筛选条件里设置</p>\n" + "</div>")
        }
    }

    function onAfterShowData(data){
        $('#allNumber').html(data['pager.totalRows'])
    }

    //新增
    function addUnit() {
        var diag = new top.Dialog();
        diag.URL = ctxPath + "page/role/add";
        diag.Title = "添加角色";
        //自定义宽度和长度的设置
        diag.Width = 570;
        diag.Height = 340;
        diag.ShowButtonRow = true;
        diag.OkButtonText = " 提 交 ";
        diag.OKEvent = function () {
            diag.innerFrame.contentWindow.save();
        };
        diag.show();
    }

    //查看
    function onView(rowid) {
        var diag = new top.Dialog();
        diag.Title = "角色查看";
        diag.URL = ctxPath + "page/role/view?role_id=" + rowid;
        //自定义长度和宽度的设置
        diag.Width = 570;
        diag.Height = 350;
        diag.ShowButtonRow = true;
        diag.show();
    }

    //删除
    function onDelete(rowid) {
        $.ajax({
            url: ctxPath + "role/" + rowid,
            type: 'delete'
        }).then(function (res) {
            if (0 == res.code) {
                grid.loadData();
                top.Toast("showSuccessToast", '操作成功');
            } else {
                top.Toast("showErrorToast", '操作异常');
            }
        }, function () {
            top.Toast("showErrorToast", '操作异常');
        })

    }

    //修改角色
    function onEdit(rowid) {
        console.log(rowid)
        var diag = new top.Dialog();
        diag.Title = "编辑";
        diag.URL = ctxPath + "page/role/add?role_id=" + rowid;
        //自定义长度和宽度的设置
        diag.Width = 570;
        diag.Height = 350;
        diag.ShowButtonRow = true;
        diag.OkButtonText = " 提 交 ";
        diag.OKEvent = function () {
            var demo = diag.innerFrame.contentWindow.save();
        };
        diag.show();
    }
    function _onEdit() {
        var sr = grid.getSelectedRows()
        if(1 == sr.length) {
            onEdit(sr.roleId)
        } else if(0 == sr.length) {
            top.Toast("showErrorToast", '请选择需要编辑的角色！');
        } else {
            top.Toast("showErrorToast", '！');
        }

    }

    //修改权限
    function onPpermissions(rowid) {
        var diag = new top.Dialog();
        diag.Title = "编辑";
        diag.URL = ctxPath + "page/role/permissions?role_id=" + rowid;
        //自定义长度和宽度的设置
        diag.Width = 570;
        diag.Height = 340;
        diag.ShowButtonRow = true;
        diag.OkButtonText = " 提 交 ";
        diag.OKEvent = function () {
            var demo = diag.innerFrame.contentWindow.save();
        };
        diag.show();
    }

    //刷新页面方法
    function refresh(isUpdate) {
        if (!isUpdate) {
            grid.setNewPage(1);
        }
        grid.loadData();
    }
</script>
<style>
    .page_content {
        position: fixed;
        background-color: #ffffff;
        margin: 15px;
        height: calc(100vh - 140px);
        width: calc(100% - 30px);
    }
</style>
</body>
</html>