<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>导入出入用户</title>
    <!--框架必需start-->
    <script type="text/javascript" th:src="@{/static/js/public/base-util.js}" src="../../static/js/public/base-util.js"></script>
    <script type="text/javascript" th:src="@{/libs/js/jquery.js}" src="../../libs/js/jquery.js"></script>
    <script type="text/javascript" th:src="@{/libs/js/language/cn.js}" src="../../libs/js/language/cn.js"></script>
    <script type="text/javascript" th:src="@{/libs/js/framework.js}" src="../../libs/js/framework.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/libs/css/import_basic.css}" href="../../libs/css/import_basic.css"/>
    <link rel="stylesheet" type="text/css" id="skin" prePath="../../"/>
    <link rel="stylesheet" type="text/css" id="customSkin"/>
    <!--框架必需end-->
    <!--表单异步提交start-->
    <script type="text/javascript" th:src="@{/libs/js/form/form.js}" src="../../libs/js/form/form.js"></script>
    <!--表单异步提交end-->


    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        ctxPath = /*[[@{/}]]*/ '';
        /*]]>*/
    </script>
</head>
<body>
<div class="form_content">
    <form id='uplodFileForm' th:action="${'/user/readExcel'}" enctype='multipart/form-data' method='post'>
        <div class="importUser">
            <input type='file' id='userDataFile' name='file'/>
            <div>说明 ：导入的excel需要遵循规定的格式</div>
            <div>
                <span onclick="download()" class="red underline" style="cursor: pointer;">点击这里</span>
                下载导入的excel数据模板
            </div>
            <div style="">
                <button type="submit" style="">
                    <span class="icon_xls">导入</span>
                </button>
            </div>

        </div>

    </form>
</div>

<form action="" id="downloadForm" method="post"></form>


</body>
<script type="text/javascript">
    var msg;

    function initComplete() {
        $("#uplodFileForm").submit(function (e) {
            if ($('#userDataFile').val()) {
                var formFile = new FormData();
                formFile.append("file", document.getElementById("userDataFile").files[0]);
                var form = new FormData(document.getElementById("uplodFileForm"));
                $.ajax({
                    type: 'post',
                    url: ctxPath + "user/readExcel",
                    data: form,
                    processData: false,
                    contentType: false,
                    success: function (res) {
                        if ('导入成功' == res.data) {
                            top.Toast("showSuccessToast", '导入成功');
                        } else {
                            msg = top.Notice('showNotice', {
                                title: "导入失败，原因如下：",
                                text: res.data.join('<br/>'),
                                sticky: true
                            })
                        }
                        top.frmright.refresh(true);
                        //关闭窗口
                        top.Dialog.close();
                    },
                    error: function (res) {
                        top.Toast("showErrorToast", '导入用户异常');
                    }
                });
                // $(this).ajaxSubmit({
                //     success: function(responseText, statusText, xhr, $form){
                //
                //     }
                // });
            } else {
                top.Toast("showErrorToast", '请选择要导入的文件');
            }
            return false;
        });
    }

    function download() {
        var $reportForm = $("#downloadForm");
        $reportForm.attr("action", ctxPath + "depotuser/download");
        $reportForm.submit();
    }
</script>
<style>
    .page_content {
        padding: 0;
    }

    .importUser {
        text-align: center;
        padding-top: 15px;
    }

    .file-container-main {
        width: auto !important;
        display: flex;
        justify-content: center;
        align-items: center;
    }

</style>
</html>