<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>出入人员管理</title>
    <!--框架必需start-->
    <script type="text/javascript" th:src="@{/static/js/public/base-util.js}"
            src="../../static/js/public/base-util.js"></script>
    <script type="text/javascript" th:src="@{/libs/js/jquery.js}" src="../../libs/js/jquery.js"></script>
    <script type="text/javascript" th:src="@{/libs/js/language/cn.js}" src="../../libs/js/language/cn.js"></script>
    <script type="text/javascript" th:src="@{/libs/js/framework.js}" src="../../libs/js/framework.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/libs/css/import_basic.css}"
          href="../../libs/css/import_basic.css"/>
    <link rel="stylesheet" type="text/css" id="skin" prePath="../../"/>
    <link rel="stylesheet" type="text/css" id="customSkin"/>
    <!--框架必需end-->

    <!-- iconfont start -->
    <link rel="stylesheet" type="text/css" th:href="@{/static/iconfont/iconfont.css}"
          href="../../static/iconfont/iconfont.css"/>
    <!-- iconfont end -->
    <!-- card单独样式 start -->
    <!--<link rel="stylesheet" type="text/css" th:href="@{/system/skin/card.css}" href="../../system/skin/card.css"/>-->
    <link rel="stylesheet" type="text/css" th:href="@{/libs/skin/style/card.css}" href="../../libs/skin/style/card.css"/>
    <!-- card单独样式 end -->
    <!--数据表格start-->
    <script th:src="@{/libs/js/table/quiGrid.js}" src="../../libs/js/table/quiGrid.js" type="text/javascript"></script>
    <!--数据表格end-->

    <!--引入CSS-->
    <link rel="stylesheet" type="text/css" th:href="@{/libs/js/webuploader/webuploader.css}" href="../../libs/js/webuploader/webuploader.css">

    <!--引入JS-->
    <script type="text/javascript" th:src="@{/libs/js/webuploader/webuploader.js}" src="../../libs/js/webuploader/webuploader.js"></script>

    <script th:src="@{/libs/js/graphical/raphael.js}" src="../../libs/js/graphical/raphael.js" type="text/javascript"></script>
    <script  th:src="@{/libs/js/graphical/progress.js}" src="../../libs/js/graphical/progress.js" type="text/javascript"></script>
    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        ctxPath = /*[[@{/}]]*/ '';
        /*]]>*/
    </script>
    <style>
        .user-img{
            width: 40px;
            height: 40px;
            line-height: 40px;
            margin: auto;
        }
        .user-img img{
            width: 80%;
            height: 100%;
            border-radius: 2px;
        }
        .webuploader-pick{
            width:100%;
            padding:0px;
            height:100%;
            background: none;
        }
    </style>
</head>

<body>
<!--card-->
<div class="content nobg" style="width: calc(100% - 25px);margin-left:15px;">
    <ul class="content_card">
        <li onclick="addUser()">
            <div class="minute">
                <div class="minute-content">
                    <div class="minute_left">
                        <div style="font-weight:bold;font-size: 22px;">新建信息</div>
                        <div style="line-height: 18px;font-size: 9px;">New information</div>
                    </div>
                    <div class="minute_right"><img src="../../system/skin/s1.png"></div>
                </div>
            </div>
        </li>
        <li onclick="_onEdit()">
            <div class="minute">
                <div class="minute-content">
                    <div class="minute_left">
                        <div style="font-weight:bold;font-size: 22px;">编辑</div>
                        <div style="line-height: 18px;font-size: 9px;">Bulk import</div>
                    </div>
                    <div class="minute_right"><img src="../../system/skin/s2.png"></div>
                </div>
            </div>
        </li>
        <li>
            <div class="minute" id="uploader">
                <div id="process" style="width:100px;height:100px;position:relative;z-index:900;display: none;"><span style="position: absolute;left: 22px;top: 36px;">上传中...</span></div>
                <div class="minute-content">
                    <div class="minute_left" style="width: 55%;text-align: left;">
                        <div style="font-weight:bold;font-size: 22px;">1.导入照片</div>
                        <div style="line-height: 18px;font-size: 9px;">按照规范格式进行ZIP上传</div>
                    </div>
                    <div class="minute_right"><img src="../../system/skin/s4.png"></div>
                </div>
            </div>
        </li>
        <li onclick="importUser()" id="test">
            <div class="minute">
                <div class="minute-content">
                    <div class="minute_left">
                        <div style="font-weight:bold;font-size: 22px;">2.导入人员</div>
                        <div style="line-height: 18px;font-size: 9px;">Import User</div>
                    </div>
                    <div class="minute_right"><img src="../../system/skin/s3.png"></div>
                </div>
            </div>
        </li>

        <li>
            <div class="minute">
                <div class="minute-content">
                    <div class="minute_left">
                        <div id="allNumber" style="font-weight:bold;font-size: 22px;">0</div>
                        <div style="line-height: 18px;font-size: 14px;">人员总数</div>
                    </div>
                    <div class="minute_right"><img src="../../system/skin/s5.png"></div>
                </div>
            </div>
        </li>
    </ul>
</div>
<!--end-->
<div class="page_content">
    <div class="titleContent" style="float:left;margin:3px 5px;">
        校园进出人员管理
    </div>
    <div class="searchContent">
        <form action="###" id="queryForm" method="post">
            <table style="float: right;">
                <tr>
                    <td>
                        <input type="text" placeholder="姓名" id="name"/>
                    </td>
                    <td>
                        <select id="depotId"  name="depotId"  prompt="请选择人员底库" dataRoot="data" labelField="label"
                                valueField="value" keepDefaultStyle = true></select>
                    </td>
                    <td>
                        <select id="userType" data='{"list":[{"value":"1","key":"学生"},{"value":"2","key":"教职工"},{"value":"3","key":"家长"},{"value":"9","key":"未知"}]}'
                                prompt="请选择人员类型"></select>
                    </td>
                    <td>
                        <select id="deptId" name="deptId"  th:url="@{/dict/type/class_type}" prompt="请选择班级" dataRoot="data" labelField="label"
                                valueField="value"></select>
                    </td>
                    <td>
                        <button type="button" id="search" class="primary" onclick="searchHandler()">
                            <span class="icon_find">查询</span>
                        </button>
                    </td>
                    <td>
                        <button type="button" onclick="resetSearch()">
                            <span class="icon_clear">重置</span>
                        </button>
                    </td>
                    <td>
                        <button type="button" class="error" onclick="clearGraduation()">
                            <span class="icon_clear">删除已毕业</span>
                        </button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <div id="dataBasic"></div>
</div>
<script type="text/javascript">
    $("#uploader").width($("#test").width())

    var radius = 35,ring;

    var paramBg = {stroke: "#ebf1f7", "stroke-width": 10};
    var paramBlue = {stroke: "#00aaef", "stroke-width": 10,"stroke-linecap":"round"};
    var percent = 0;
    $(function(){

        var paper =initPaper("process", 100, 100);
        //paper,current,min,max,cx,cy,radius,param,paramBg
        ring = drawRingProgress(paper,percent,0,100,50,50,radius,paramBlue,paramBg);



    })
    var searchDepot = {data:[]};

    // 初始化Web Uploader
    var uploader = WebUploader.create({
        auto: true,
        swf: ctxPath+ '/libs/js/webuploader/Uploader.swf',
        server: ctxPath+ 'depotuser/photo',
        pick: '#uploader',
        accept: {
            title: 'zip',
            extensions: 'zip',
            mimeTypes: 'application/zip'
        }
    });

    uploader.on("error",function (type){
        if(type == "F_DUPLICATE"){
            top.Toast("showErrorToast", '系统提示,请不要重复选择文件！');
        }
        if(type == "Q_TYPE_DENIED"){
            top.Toast("showErrorToast","请上传照片ZIP文件")
        }
    });
    uploader.on("uploadSuccess",function (file,response){
        if(response.code == 0){
            top.Toast("showSuccessToast", response.data);
            grid.setNewPage(1);
            grid.loadData();
        }else{
            top.Toast("showErrorToast","更新失败")
        }
    });


    uploader.on("uploadComplete",function(file){
        $("#process span").html("添加数据...");
        uploader.removeFile(file)
    })

    uploader.on("uploadStart",function(file,percentage){
        $("#process span").html("上传中...");
        $("#process").show();
        $("#uploader .minute_left").hide()
    })

    uploader.on("uploadProgress",function(file,percentage){
        percent = percentage*33;
        ring.animate({arc: [percent, 100,50,50,radius]}, 500, "<");
    })

    var grid;
    $.ajax({
        url: ctxPath + "dict/type/black_list",
        type: 'get'
    }).then(function (res1) {
        searchDepot.data = searchDepot.data.concat(res1.data);
        $.ajax({
            url: ctxPath + "dict/type/white_list",
            type: 'get'
        }).then(function (res2) {
            searchDepot.data = searchDepot.data.concat(res2.data);
            $("#depotId").data("data",searchDepot);
            $("#depotId").render();
        })
    })

    function importUser() {
        var diag = new top.Dialog();
        diag.Title = "导入";
        diag.URL = ctxPath + "page/depotUser/importUser";
        //自定义长度和宽度的设置
        diag.Width = 480;
        diag.Height = 300;
        diag.ShowButtonRow = false;
        diag.show();
    }

    function searchHandler() {
        var paramsx = {};
        var name = $("#name").val();
        if (name) {
            paramsx.name = name;
        }

        var depotId = $("#depotId").val();
        if (depotId) {
            paramsx.depotId = depotId
        }


        var deptId = $("#deptId").val();
        if (deptId) {
            paramsx.deptId = deptId
        }


        var userType = $("#userType").val();
        if (userType) {
            paramsx.userType = userType
        }

        paramsx.filters = JSON.stringify(paramsx);

        grid.setOptions({
            params: paramsx
        });
        grid.setNewPage(1);
        grid.loadData();
    }
    function clearGraduation(){
        top.Dialog.confirm("确认清除已毕业人员信息吗？确保所有相关平板在线。",function(){
            $.ajax({
                url: ctxPath + "depotuser/clearGraduation",
                type: 'delete'
            }).then(function (res) {
                if (0 == res.code) {
                    grid.loadData();
                    top.Toast("showSuccessToast", '清除成功');
                } else {
                    top.Toast("showErrorToast", '清除异常');
                }
            }, function () {
                top.Toast("showErrorToast", '清除异常');
            })
        },function(){

        });
    }

    function resetSearch() {
        $("#queryForm")[0].reset();
        searchHandler();
    }
    $(function () {
        var classArray = [],deptArray = [];
        $.ajax({
            url: ctxPath + "dict/type/class_type",
            type: 'get'
        }).then(function (res) {
            classArray = res.data;
            console.log(classArray)
        }, function () {
            top.Toast("showErrorToast", '请检查自定类型class_type');
        })
        $.ajax({
            url: ctxPath + "dept/list",
            type: 'get'
        }).then(function (res) {
            deptArray = res.data;
        }, function () {
            top.Toast("showErrorToast", '请检查部门列表');
        })

        grid = $("#dataBasic").quiGrid({
            columns: [
                {display: '照片', name: 'photo', align: 'center', width: "12%",
                    render: function (rowdata, rowindex, value, column) {
                        if(value&&value.startsWith("/")){
                            var img = '<div class="user-img">';
                            img += '<img src="'+value+'"/>';
                            img += '</div>';
                            return img;
                        }else{
                            return "暂未关联头像"
                        }
                    }},
                {display: '姓名', name: 'name', align: 'center', width: "7%",cellClick:true},
                {display: '性别', name: 'gender', align: 'center', width: "7%",
                    render: function (rowdata, rowindex, value, column) {
                        switch (value) {
                            case 0:
                                return "男"
                            case 1:
                                return "女"
                        }
                    }},
                {display: '类型', name: 'userType', align: 'center', width: "6%",
                    render: function (rowdata, rowindex, value, column) {
                    //1学生2教职工3家长9未知
                        switch (value) {
                            case 1:
                                return "学生"
                            case 2:
                                return "教职工"
                            case 3:
                                return "家长"
                            case 9:
                                return "未知"
                        }
                    }},
                {display: '班级/部门', name: 'deptId', align: 'center', width: "10%",
                    render: function (rowdata, rowindex, value, column) {
                        if(rowdata.userType == 2){
                            var res = "部门已失效"
                            deptArray.forEach(function(item){
                                if( value == item.deptId ){
                                    res = item.deptName
                                }
                            })
                            return res
                        }else{
                            var res = "班级已毕业"
                            classArray.forEach(function(item){
                                if( value == item.value ){
                                    res = item.label
                                }
                            })
                            return res
                        }
                    }},
                {display: '黑白名单', name: 'depotType', align: 'center', width: "15%",
                    render: function (rowdata, rowindex, value, column) {
                        switch (value) {
                            case 0:
                                return "白名单"
                            case 1:
                                return "黑名单"
                        }
                    }},
                {display: '家长', name: 'parentName', align: 'center', width: "18%"},
                {
                    display: '操作', align: 'center', width: "22%",
                    render: function (rowdata, rowindex, value, column) {
                        var bar = '<div class="grid_user_container">';
                        bar += '<div class="bg1 qTip" title="删除" onclick="onDelete(\'' + rowdata.id + '\')">删除</div>';
                        bar += '<div class="bg2 qTip" title="关联家长" onclick="onRelation(\'' + rowdata.id + '\')">关联家长</div>';
                        bar += '<div class="bg3 qTip" title="同步所有平板" onclick="openSync(\'' + rowdata.id + '\')">同步所有平板</div>';
                        bar += '</div>';
                        return bar;
                    }
                }
            ],
            url: ctxPath + 'depotuser/page',
            method: 'get',
            sortName: 'create_time',
            sortOrder: "DESC",
            height: '100%',
            width: "100%",
            rownumbers: true,
            checkbox: true,
            pageSize: 10,
            percentWidthMode: false,
            onComplete: isnull,
            onAfterShowData: onAfterShowData,
            onClickCell: function (rowdata, rowid, rowobj) {
                $(".maingrid_content").show();
                $(".maingrid_content").find("iframe").attr("src", "/page/depotUser/view?id=" + rowdata.id);
                $(".maingrid_content").stop().animate({marginRight: "0"}, 500);
            }
        });
        $("body").append('<div class="maingrid_content" style="height: 99%;"><IFRAME style="box-sizing: border-box; background: white;" height="100%" width="100%" frameBorder=0 id=frmright name=frmright src="" allowTransparency="true"></IFRAME></div>');
        //点击空白退回
        $(".page_content").click(function (e) {
            if ($(e.target).attr("class") != "l-grid-row-cell-inner-text") {
                $(".maingrid_content").stop().animate({marginRight: "-100%"}, 300, function () {
                    $(".maingrid_content").hide();
                });
            }
        });
    })

    function isnull() {
        if ($(".l-grid-body,.l-scroll").find("tr").length > 0) {
        } else {
            $(".l-grid-body,.l-scroll").find("div.l-grid-body-inner").html(
                "<div class=\"indexnodata\">\n"
                + "<p> 当前没有查找到结果</p>\n"
                + "<p>请更改筛选条件,可以在更多的筛选条件里设置</p>\n" + "</div>")
        }
    }

    function onAfterShowData(data){
        $('#allNumber').html(data['pager.totalRows'])
    }

    function openSync(id){
        $.ajax({
            url: ctxPath + "flatbed/people/" + id,
            type: 'post'
        }).then(function (res) {
            if (0 == res.code) {
                top.Toast("showSuccessToast", '同步成功');
            } else {
                var error = "";
                res.data.forEach(function(item){
                    error += item+"</br>";
                })
                top.Notice('showNotice', {
                    title	: "错误数据("+res.data.length+")",
                    text    : error,
                    sticky  : true
                })
            }
        }, function () {
            top.Toast("showErrorToast", '操作异常');
        })
    }
    //新增
    function addUser() {
        var diag = new top.Dialog();
        diag.URL = ctxPath + "page/depotUser/add";
        diag.Title = "添加出入人员";
        //自定义宽度和长度的设置
        diag.Width = 800;
        diag.Height = 700;
        diag.ShowButtonRow = true;
        diag.OkButtonText = " 提 交 ";
        diag.OKEvent = function () {
            diag.innerFrame.contentWindow.save();
        };
        diag.show();
    }

    //删除
    function onDelete(id) {
        top.Dialog.confirm("确认删除人员信息吗？确保所有相关平板在线！",function() {
            $.ajax({
                url: ctxPath + "depotuser/" + id,
                type: 'delete'
            }).then(function (res) {
                if (0 == res.code) {
                    grid.loadData();
                    top.Toast("showSuccessToast", '操作成功');
                } else {
                    top.Toast("showErrorToast", '操作异常');
                }
            }, function () {
                top.Toast("showErrorToast", '操作异常');
            })
        });

    }

    //修改角色
    function onEdit(id) {
        var diag = new top.Dialog();
        diag.Title = "编辑";
        diag.URL = ctxPath + "page/depotUser/add?id=" + id;
        //自定义长度和宽度的设置
        diag.Width = 800;
        diag.Height = 700;
        diag.ShowButtonRow = true;
        diag.OkButtonText = " 提 交 ";
        diag.OKEvent = function () {
            var demo = diag.innerFrame.contentWindow.save();
        };
        diag.show();
    }
    //关联家长
    function onRelation(id) {
        var diag = new top.Dialog();
        diag.Title = "关联家长";
        diag.ID="a1";
        diag.URL = ctxPath + "page/relation/add?id=" + id;
        //自定义长度和宽度的设置
        diag.Width = 850;
        diag.Height = 400;
        diag.ShowButtonRow = false;
        /*diag.OkButtonText = " 提 交 ";
        diag.OKEvent = function () {
            var demo = diag.innerFrame.contentWindow.save();
        }*/;
        diag.show();
    }
    function _onEdit() {
        var sr = grid.getSelectedRows()
        if(1 == sr.length) {
            onEdit(sr[0].id)
        } else if(0 == sr.length) {
            top.Toast("showErrorToast", '请选择需要编辑的出入人员！');
        } else {
            top.Toast("showErrorToast", '您选择了多个出入人员');
        }

    }

    //刷新
    function refresh(isUpdate) {
        if (!isUpdate) {
            grid.setNewPage(1);
        }
        grid.loadData();
    }

    var socket;
    function openSocket() {
        if(typeof(WebSocket) == "undefined") {
            console.log("您的浏览器不支持WebSocket");
        }else{
            console.log("您的浏览器支持WebSocket");
            if(socket!=null){
                socket.close();
                socket=null;
            }
            socket = new WebSocket("ws://"+window.location.host+"/imserver/upload");
            //打开事件
            socket.onopen = function() {
            };
            //获得消息事件
            socket.onmessage = function(msg) {
                if(msg.data){
                    var res = JSON.parse(msg.data);
                    if(res.msg){
                        $("#process span").html(res.msg);
                        if(res.msg == "完成"){
                            $("#process").hide();
                            $("#uploader .minute_left").show()
                        }
                    }else if(res.data){
                        var show = percent + res.data*67;
                        ring.animate({arc: [parseInt(show), 100,50,50,radius]}, 500, "<");
                    }

                }
                //发现消息进入    开始处理前端触发逻辑
            };
            //关闭事件
            socket.onclose = function() {
            };
            //发生了错误事件
            socket.onerror = function() {
            }
        }
    }
    function sendMessage() {
        if(typeof(WebSocket) == "undefined") {
            console.log("您的浏览器不支持WebSocket");
        }else {
            console.log("您的浏览器支持WebSocket");
        }
    }
    openSocket()
</script>
<style>
    .page_content {
        position: fixed;
        background-color: #ffffff;
        margin: 15px;
        height: calc(100vh - 140px);
        width: calc(100% - 45px);
        margin: 15px !important;
    }
</style>
</body>
</html>