h2 {
    font-weight: 400
}


#mainFrame {
    background-color: #f0f2f5
}

.oppContent {
    width: 340px;
    height: 40px;
    float: left;
}


.buttonGroup {
    width: 70px;
    float: left;
}

.contentStyleLeft {
    padding: 0
}

.contentStyle {
    padding: 0 0 0 1px
}

#hideCon {
    width: 220px;
    background: linear-gradient(to bottom, rgb(38, 176, 249), rgb(72, 110, 243));
    /*background-color: #2c83ea*/
}

#bs_left {
    width: 200px;
    /*background: #2c83ea*/
}

#lbox {
    /*background-color: transparent!important*/
}

#lbox_topleft {
    height: 100%
}

#lbox_topright {
    height: 100%
}

#lbox_middlecenter {
    /*background-color: red*/
}

#lbox_bottomcenter {
    height: 0;
    line-height: 0;
    overflow: hidden;
    display: none
}

.lbox_title {
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    padding: 0 0 0 45px
}

.lbox_foot {
    color: #fff;
    text-align: center
}

#rbox {
    background-color: transparent !important
}

#rbox_topcenter {
    height: 60px;
    background: #fff;
    position: relative;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .1)
}

#rbox_middlecenter {
    padding: 0
}

#rbox_bottomcenter {
    height: 0;
    overflow: hidden;
    background-color: #fff
}

.rbox_title {
    display: none
}

#hbox {
    padding: 0;
    height: 0;
    display: none
}

#bs_bannercenter {
    width: 100%;
    height: 88px;
    background-image: url(bs_bannercenter.gif);
    background-repeat: repeat-x
}

#bs_bannerleft {
    width: 100%;
    height: 100%;
    background-image: url(bs_bannerleft.png);
    background-repeat: no-repeat
}

.main_title {
    width: 332px;
    height: 100%;
    background-image: url(main_title.png);
    background-repeat: no-repeat
}

#bs_bannerright {
    width: 100%;
    height: 100%;
    background-image: url(bs_bannerright.png);
    background-position: 100% 0;
    background-repeat: no-repeat;
    position: relative
}

.bs_banner_logo {
    background-image: url(logo.png);
    background-repeat: no-repeat;
    width: 71px;
    height: 42px;
    position: absolute;
    top: 15px;
    left: 20px
}

.bs_banner_title {
    background-image: url(title.png);
    background-repeat: no-repeat;
    width: 339px;
    height: 36px;
    position: absolute;
    top: 20px;
    left: 100px
}

.subTitle {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    position: absolute;
    left: 430px;
    top: 30px
}

.top_function {
    position: absolute;
    right: 20px;
    top: 1px
}

.header_right {
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    right: 30px
}

.LeftNav_title {
    width: 35px;
    height: 60px;
    cursor: pointer;
    cursor: hand;
    margin-left: 15px;
    float: left
}

.LeftNav_title b {
    display: block;
    width: 100%;
    height: 60px;
    background: url(menu.png) no-repeat center center;
    /*background: url(nav_bar.png) no-repeat center center;*/
    cursor: pointer
}

.header_right > div {
    width: 35px;
    height: 60px;
    float: left;
    cursor: pointer;
    cursor: hand;
    margin-right: 15px
}

.header_right > div.home {
    background: url(header_home.png) no-repeat center center
}

.header_right > div.home a {
    display: block;
    width: 100%;
    height: 100%
}

.header_right > div.setting {
    background: url(header_set.png) no-repeat center center
}

.header_right > div.search {
    width: 250px;
    height: 25px;
    border: 1px solid #ebebeb;
    border-radius: 15px;
    position: relative;
    padding: 0 20px 0 10px;
    background: #f4f4f4;
    overflow: hidden;
    margin-top: 20px
}

.header_right > div.search input {
    display: block;
    width: 100%;
    height: 25px;
    line-height: 20px;
    outline: 0;
    background: 0 0;
    color: #727784;
    border: 0
}

.header_right > div.search em {
    display: block;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 5px;
    right: 5px;
    background: url(search.png) no-repeat center center
}

.right_toggle {
    display: block;
    width: 50px;
    height: 50px;
    line-height: 40px;
    position: relative
}

.right_toggle_content {
    width: 170px;
    height: auto;
    background: #fff;
    position: absolute;
    top: 60px;
    right: 0;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .1);
    border-radius: 5px;
    display: none;
    /*background: #d8e3ef;*/
    z-index: 99
}

right_toggle_content li {
    cursor: pointer;
}

.right_toggle_content li a {
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    color: #657180;
    font-size: 13px;
    background: #fff;
    cursor: pointer;
}

.right_toggle_content li i {
    width: 16px;
    height: 16px;
    display: inline-block;
    margin: 12px 10px 0 10px;
    float: left;
    background: url(icon_play.png) -22px 0 no-repeat
}

.right_toggle_content li.right_toggle_lock_screen i {
    background: url(icon_play.png) -22px -18px no-repeat
}

.right_toggle_content li.right_toggle_sign_out i {
    background: url(icon_play.png) -22px -35px no-repeat
}


.right_toggle_content li a:hover {
    background: #2da9fa;
    color: #fff;
    transition: background .1s linear 50ms
}

/*.right_toggle_content li.right_toggle_home:hover i {*/
/*background: url(icon_play.png) -2px 0 no-repeat*/
/*}*/

/*.right_toggle_content li.right_toggle_lock_screen:hover i {*/
/*background: url(icon_play.png) -2px -18px no-repeat*/
/*}*/

/*.right_toggle_content li.right_toggle_sign_out:hover i {*/
/*background: url(icon_play.png) -2px -35px no-repeat*/
/*}*/

.clearfloat:after {
    content: "";
    clear: both;
    display: block;
    zoom: 1;
    visibility: hidden;
    font-size: 0;
    line-height: 0
}

.LeftNav_win {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    /*background: #2c83ea;*/
    overflow-y: auto;
    overflow-x: hidden
}

.LeftNav_win * {
    box-sizing: border-box
}

.stair_win {
    width: 100%;
    height: auto
}

.LeftNav_logo {
    width: 200px;
    height: 60px;
    /*background: #2c83ea;*/
    color: #fff;
    font-size: 14px;
    transition: width .2s linear 10ms
}

.LeftNav_logo .top {
    width: 100%;
    height: 60px;
    overflow: hidden;
    transition: width .1s linear 50ms
}

.LeftNav_logo .top img {
    display: block;
    width: 40px;
    float: left;
    margin: 12px 5px 0 5px;
    transition: width .1s linear 50ms;

}

.LeftNav_logo .top span {
    font-size: 14px;
    line-height: 60px;
    float: left;
    display: block
}

.LeftNav_logo .top .font {
    display: block;
    position: absolute;
    margin-left: 45px;
    width: 150px;
}

.LeftNav_logo .top .font img {
    width: 150px;
}

.menu_collapse .LeftNav_logo {
    width: 45px
}

.menu_collapse .LeftNav_logo .top img {
    width: 35px;
    margin: 15px 5px 0 5px
}

.menu_collapse .style1 span{
    display: none;
}

.stair_win * {
    box-sizing: border-box
}

.style1 {
    width: 100%;
    min-height: 35px
}

.style1 .childContent {
    display: none;
    /*border-radius: 0 0 8px 8px;*/
    overflow: hidden;
    /*width: 85%;*/
    width: 95%;
    margin: auto
}

.style1 .childContent.active {
    position: absolute;
    left: 44px;
    top: 0;
    width: 160px;
    max-height: 500px;
    overflow: auto;
    margin-top: 0;
    overflow-x: hidden;
    border-radius: 0;
    z-index: 999;

    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .1);
}

.style1 a {
    display: block;
    width: 100%;
    height: 45px;
    overflow: hidden;
    /*background-color: #2c83ea;*/
    cursor: pointer
}

.style1 > a {
    /*width: 85%;*/
    width: 95%;
    padding: 0 5%;
    margin: auto;
    /*border-radius: 8px*/
    border-left: 4px solid transparent;
}

.menu_collapse .style1 > a {
    border-left: 0px solid transparent;
    transition: all .1s linear 50ms;
}

.style1 > a:hover {
    /*background-color: #236fc7*/
    background-color: rgba(255, 255, 255, .3);
    border-radius: 0;
}

.style1 > a.active {
    /*background: #236fc7;*/
    background-color: rgba(255, 255, 255, .3);
    border-radius: 0;
    border-left: 4px solid #554f9f;
    /*border-radius: 8px 8px 0 0*/
}

.menu_collapse .style1 > a.active {
    border-left: 0px solid transparent;
    transition: all .1s linear 50ms;
}

.style2 {
    margin: 0 20px 0;
}

.menu_collapse .style2 {
    margin: 0;
}

.style2 a {
    /*background-color: #236fc7;*/
    transition: all .15s ease-in-out;
    border-bottom: 1px dashed rgba(255, 255, 255, 0.2);

    padding-left: 10px;
}

.menu_collapse .style2 a {
    background-color: #6fb9fa;
}

.style2 a:hover {
    /*background-color: #1c579a!important;*/
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-radius: 0;
}

.menu_collapse .style2 a:hover {
    background-color: rgba(106, 194, 250, 1);
}

.style2 a:hover i {
    background-image: url(nav_icon_bg_hover.png) !important
}

.style2 a.hover em {
    /*display: block!important*/
}

.style2 a.hover {
    /*background-color: #f5f5f5!important;*/
    transition: all .3s ease-in-out;
    background-color: rgba(255, 255, 255, .1);
    /*border-radius: 0;*/
    color: #fff;
    /*opacity: .5;*/
}

.menu_collapse .style2 a.hover {
    background-color: rgba(106, 194, 250, 1);
}

.style2 a.hover i {
    background-image: url(nav_icon_bg_hover.png) !important
}

.style1 a i {
    display: block;
    width: 16px;
    height: 16px;
    float: left;
    margin: 8px 5px 0 0;
    margin-left: 13px;
    color:#ffffff;
}

.style1 a span {
    font-size: 14px;
    color: #fff;
    line-height: 45px;
    float: left;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: keep-all;
    width: 98px;
    margin-left:30px;
}

.style1 a b {
    display: block;
    width: 14px;
    height: 45px;
    float: right;
    margin-right: 8px;
    background-image: url(stair_icon_down.png);
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-transition: .3s ease-in;
    -moz-transition: .3s ease-in;
    -o-transition: .3s ease-in;
    transition: .3s ease-in
}

.style1 a.bigNav {
    height: auto;
    position: relative;
    padding: 10px 0
}

.style1 a.bigNav img {
    display: block;
    width: 50px;
    margin: auto
}

.style1 a.bigNav span {
    width: 100%;
    text-align: center
}

.style1 a.bigNav b {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -20px
}

.active_b {
    background-image: url(stair_icon_right.png) !important;
    -webkit-transform: rotate(0) !important;
    -moz-transform: rotate(0) !important;
    -ms-transform: rotate(0) !important;
    -o-transform: rotate(0) !important;
    transform: rotate(0) !important
}

.style1 a em {
    display: block;
    width: 12px;
    height: 12px;
    float: right;
    /*background: url(a.hover.png) no-repeat 5px 0;*/
    display: none;
    margin-top: 16px
}

.rotate {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg)
}

.menuContent .style2 a b {
    display: none
}

.childContent .style2 .style2 {
    display: none
}

.childContent > .style2 .style2 a b {
    display: none
}

.stair_win .shrink {
    width: 100%;
    height: 40px;
    position: relative
}

.stair_win .shrink i {
    display: inline-block;
    width: 100%;
    height: 1px;
    background-color: #b9cad3;
    margin: auto;
    margin-top: 20px
}

.stair_win .shrink b {
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -20px;
    background: #fff url(shrink_left.png) no-repeat center center;
    cursor: pointer;
    transition: background .2s linear 50ms
}

.stair_win .shrink b.active {
    background: #fff url(shrink_right.png) no-repeat center center
}

.hover_Content {
    box-sizing: border-box;
    width: 150px;
    height: auto;
    border: 1px solid #e5e5e5;
    position: absolute;
    top: 0;
    left: 49px;
    z-index: 9999;
    background: #fff;
    cursor: pointer;
    display: none
}

.Content_win {
    width: 1200px;
    height: 100%;
    margin: auto;
    padding: 20px 0 0 20px
}

.content_left {
    width: 1075px;
    float: left
}

.Contrast_win {
    width: 525px;
    height: 320px;
    background: #fff;
    border: 1px solid #eee;
    margin-top: 20px;
    float: left;
    box-sizing: border-box
}

.Contrast_win .title {
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    text-indent: 2em
}

.thing_title {
    float: right;
    margin-right: 30px;
    width: 305px
}

.thing_title span {
    display: block;
    width: 100px;
    height: 30px;
    float: left;
    line-height: 30px;
    text-indent: 2em;
    background-position: 0 50%;
    background-repeat: no-repeat
}

.Contrast_win > ul {
    float: right;
    width: 305px;
    margin-right: 30px
}

.Contrast_win > ul li {
    width: 100%;
    margin-top: 20px
}

.Contrast_win > ul li span {
    display: block;
    width: 100%;
    height: 25px;
    line-height: 25px;
    text-indent: 2em;
    background-position: 0 50%;
    background-repeat: no-repeat
}

.Contrast_win > ul li.thing1 span {
    background-image: url(holder01.png)
}

.Contrast_win > ul li.thing2 span {
    background-image: url(holder02.png)
}

.Contrast_win > ul li.thing3 span {
    background-image: url(holder03.png)
}

.fc-event {
    background-color: #2da9fa !important;
    border-color: #2da9fa !important
}


.indexnodata {
    position: relative;
    width: 500px;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -250px;
    padding: 100px 100px;
    color: #666;
    line-height: 30px;
    font-size: 14px;
    background: url("../../static/image/empty.png") 2px 75px no-repeat;
}

.maingrid_content {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 95%;
    border: 1px solid #EEEEEE;
    z-index: 99999;
    margin-right: -100%;
    box-shadow: -1px 0 3px #d3d8db;
    display: none;
}


ul.sub-navigation {
    display: flex;
    justify-content: center;
}
.sub-navigation li {
    color: #5c92fb;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    position: relative;
    line-height: 60px;
}
.sub-navigation li.active:after{
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    content: '';
    border-bottom: 4px solid #5D92FA;
}

.sub-navigation li + li{
    margin-left: 40px;
}