
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>平板管理</title>
    <!--框架必需start-->
    <script type="text/javascript" th:src="@{/static/js/public/base-util.js}"
            src="../../static/js/public/base-util.js"></script>
    <script type="text/javascript" th:src="@{/libs/js/jquery.js}" src="../../libs/js/jquery.js"></script>
    <script type="text/javascript" th:src="@{/libs/js/language/cn.js}" src="../../libs/js/language/cn.js"></script>
    <script type="text/javascript" th:src="@{/libs/js/framework.js}" src="../../libs/js/framework.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/libs/css/import_basic.css}"
          href="../../libs/css/import_basic.css"/>
    <link rel="stylesheet" type="text/css" id="skin" prePath="../../"/>
    <link rel="stylesheet" type="text/css" id="customSkin"/>
    <!--框架必需end-->

    <!-- iconfont start -->
    <link rel="stylesheet" type="text/css" th:href="@{/static/iconfont/iconfont.css}"
          href="../../static/iconfont/iconfont.css"/>
    <!-- iconfont end -->
    <!-- card单独样式 start -->
    <!--<link rel="stylesheet" type="text/css" th:href="@{/system/skin/card.css}" href="../../system/skin/card.css"/>-->
    <link rel="stylesheet" type="text/css" th:href="@{/libs/skin/style/card.css}" href="../../libs/skin/style/card.css"/>
    <!-- card单独样式 end -->
    <!--数据表格start-->
    <script th:src="@{/libs/js/table/quiGrid.js}" src="../../libs/js/table/quiGrid.js" type="text/javascript"></script>
    <!--数据表格end-->
    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        ctxPath = /*[[@{/}]]*/ '';
        /*]]>*/
    </script>
</head>

<body>
<!--card-->
<div class="content nobg" style="width: calc(100% - 25px);margin-left:15px;">
    <ul class="content_card">
        <li onclick="addFlatbed()">
            <div class="minute">
                <div class="minute-content">
                    <div class="minute_left">
                        <div style="font-weight:bold;font-size: 22px;">新建信息</div>
                        <div style="line-height: 18px;font-size: 9px;">New information</div>
                    </div>
                    <div class="minute_right"><img src="../../system/skin/s1.png"></div>
                </div>
            </div>
        </li>
        <li onclick="_onEdit()">
            <div class="minute">
                <div class="minute-content">
                    <div class="minute_left">
                        <div style="font-weight:bold;font-size: 22px;">编辑</div>
                        <div style="line-height: 18px;font-size: 9px;">Bulk import</div>
                    </div>
                    <div class="minute_right"><img src="../../system/skin/s2.png"></div>
                </div>
            </div>
        </li>

        <li>
            <div class="minute">
                <div class="minute-content">
                    <div class="minute_left">
                        <div id="allNumber" style="font-weight:bold;font-size: 22px;">0</div>
                        <div style="line-height: 18px;font-size: 14px;">平板总数</div>
                    </div>
                    <div class="minute_right"><img src="../../system/skin/s5.png"></div>
                </div>
            </div>
        </li>
        <li onclick="clearAll()">
            <div class="minute">
                <div class="minute-content">
                    <div class="minute_left" style="width:55%;">
                        <div style="font-weight:bold;font-size: 22px;">全部清空</div>
                        <div style="line-height: 18px;font-size: 9px;">清空在线PAD，PAD将会重启请稍作等待</div>
                    </div>
                    <div class="minute_right"><img src="../../system/skin/s3.png"></div>
                </div>
            </div>
        </li>

        <li onclick="syncAll()" id="sync">
            <div class="minute">
                <div class="minute-content">
                    <div class="minute_left" style="width: 55%;">
                        <div style="font-weight:bold;font-size: 22px;">全部同步</div>
                        <div style="line-height: 18px;font-size: 9px;">All Sync</div>
                    </div>
                    <div class="minute_right"><img src="../../system/skin/s4.png"></div>
                </div>
            </div>
        </li>
    </ul>
</div>
<!--end-->
<div class="page_content">
    <div class="titleContent" style="margin:3px 5px">
        校园进出管控平板管理
    </div>
    <div id="dataBasic"></div>
</div>
<input type = "hidden" id="userId" value = "<shiro:principal property='id'/>"/>
<script type="text/javascript">
    var grid;
    $(function () {
        var passArray = [];
        $.ajax({
            url: ctxPath + "dict/type/gate_type",
            type: 'get'
        }).then(function (res) {
            passArray = res.data;
        }, function () {
            top.Toast("showErrorToast", '请检查自定类型gate_type');
        })
        grid = $("#dataBasic").quiGrid({
            columns: [
                {display: '平板编号', name: 'number', align: 'center', width: "15%",cellClick:true},
                {display: '平板名称', name: 'name', align: 'center', width: "7%"},
                {display: 'IP地址', name: 'ipAddress', align: 'center', width: "20%"},
                {display: '在线', name: 'onlineStatus', align: 'center', width: "7%",
                    render: function (rowdata, rowindex, value, column) {
                        return "<span id='status_"+rowdata.id+"'>"+(value == '0'?'在线':'离线')+"</span>"
                    }},
                {display: '名单数', name: 'num', align: 'center', width: "8%",
                    render: function (rowdata, rowindex, value, column) {
                        $.ajax({
                            url: ctxPath + "flatbed/number/" + rowdata.id,
                            type: 'get'
                        }).then(function (res) {
                            if(res.data.Result == "Fail"){
                                $("#num_"+rowdata.id).html("离线");
                            }else{
                                $("#num_"+rowdata.id).html(res.data.PersonNum/2);
                            }
                        }, function () {
                        })
                        return "<span id='num_"+rowdata.id+"'></span>"
                    }},
                {
                    display: '类型', name: 'passType', align: 'center', width: "10%",
                    render: function (rowdata, rowindex, value, column) {
                        var res = "发生错误"
                        passArray.forEach(function(item){
                           if( value == item.value ){
                               res = item.label
                           }
                        })
                        return res
                    }
                },
                {display: '状态', name: 'process', align: 'center', width: "8%",
                    render: function (rowdata, rowindex, value, column) {
                        return "<span id='process_"+rowdata.id+"'>"+value+"</span>"
                    }
                },
                {
                    display: '操作', align: 'center', width: "25%",
                    render: function (rowdata, rowindex, value, column) {
                        var bar = '<div class="grid_user_container">';
                        bar += '<div class="bg4 qTip" title="清空" onclick="onClear(\'' + rowdata.id + '\',\''+rowdata.onlineStatus+'\')">清空</div>';
                        bar += '<div class="bg3 qTip" title="同步" onclick="onSync(\'' + rowdata.id + '\',\''+rowdata.onlineStatus+'\')">同步</div>';
                        bar += '<div class="bg1 qTip" title="编辑" onclick="onEdit(\'' + rowdata.id + '\')">编辑</div>';
                        bar += '<div class="bg2 qTip" title="删除" onclick="onDelete(\'' + rowdata.id + '\')">删除</div>';
                        bar += '</div>';
                        return bar;
                    }
                }
            ],
            url: ctxPath + 'flatbed/page',
            method: 'get',
            sortName: 'number',
            sortOrder: "ASC",
            height: '100%',
            width: "100%",
            rownumbers: true,
            checkbox: true,
            pageSize: 10,
            percentWidthMode: false,
            onComplete: isnull,
            onAfterShowData: onAfterShowData,
            onClickCell: function (rowdata, rowid, rowobj) {
                $(".maingrid_content").show();
                $(".maingrid_content").find("iframe").attr("src", "/page/flatbed/view?id=" + rowdata.id);
                $(".maingrid_content").stop().animate({marginRight: "0"}, 500);
            }
        });
        $("body").append('<div class="maingrid_content" style="height: 99%;"><IFRAME style="box-sizing: border-box; background: white;" height="100%" width="100%" frameBorder=0 id=frmright name=frmright src="" allowTransparency="true"></IFRAME></div>');
        //点击空白退回
        $(".page_content").click(function (e) {
            if ($(e.target).attr("class") != "l-grid-row-cell-inner-text") {
                $(".maingrid_content").stop().animate({marginRight: "-100%"}, 300, function () {
                    $(".maingrid_content").hide();
                });
            }
        });
    })

    function isnull() {
        if ($(".l-grid-body,.l-scroll").find("tr").length > 0) {
        } else {
            $(".l-grid-body,.l-scroll").find("div.l-grid-body-inner").html(
                "<div class=\"indexnodata\">\n"
                + "<p> 当前没有查找到结果</p>\n"
                + "<p>请更改筛选条件,可以在更多的筛选条件里设置</p>\n" + "</div>")
        }
    }

    function onAfterShowData(data){
        $('#allNumber').html(data['pager.totalRows'])
    }

    //新增
    function addFlatbed() {
        var diag = new top.Dialog();
        diag.URL = ctxPath + "page/flatbed/add";
        diag.Title = "添加平板";
        //自定义宽度和长度的设置
        diag.Width = 570;
        diag.Height = 360;
        diag.ShowButtonRow = true;
        diag.OkButtonText = " 提 交 ";
        diag.OKEvent = function () {
            diag.innerFrame.contentWindow.save();
        };
        diag.show();
    }

    //查看
    function onClear(id,onlineStatus) {
        if(onlineStatus != 0){
            top.Toast("showErrorToast", '平板不在线');
            return;
        }
        $.ajax({
            url: ctxPath + "flatbed/clear/" + id,
            type: 'delete'
        }).then(function (res) {
            if (0 == res.code) {
                grid.loadData();
                top.Toast("showSuccessToast", '清空成功');
            } else {
                top.Toast("showErrorToast", '清空异常');
            }
        }, function () {
            top.Toast("showErrorToast", '清空异常');
        })
    }

    //删除
    function onDelete(id) {
        $.ajax({
            url: ctxPath + "flatbed/" + id,
            type: 'delete'
        }).then(function (res) {
            if (0 == res.code) {
                grid.loadData();
                top.Toast("showSuccessToast", '操作成功');
            } else {
                top.Toast("showErrorToast", '操作异常');
            }
        }, function () {
            top.Toast("showErrorToast", '操作异常');
        })

    }

    //修改角色
    function onEdit(id) {
        var diag = new top.Dialog();
        diag.Title = "编辑";
        diag.URL = ctxPath + "page/flatbed/add?id=" + id;
        //自定义长度和宽度的设置
        diag.Width = 570;
        diag.Height = 350;
        diag.ShowButtonRow = true;
        diag.OkButtonText = " 提 交 ";
        diag.OKEvent = function () {
            var demo = diag.innerFrame.contentWindow.save();
        };
        diag.show();
    }
    function _onEdit() {
        var sr = grid.getSelectedRows()
        if(1 == sr.length) {
            onEdit(sr[0].id)
        } else if(0 == sr.length) {
            top.Toast("showErrorToast", '请选择需要编辑的平板！');
        } else {
            top.Toast("showErrorToast", '您选择了多个平板');
        }

    }

    //同步
    function onSync(id,onlineStatus) {
        if(onlineStatus != 0){
            top.Toast("showErrorToast", '平板不在线');
            return;
        }
        //top.bodyMask("正在同步中，请稍等....");
        $.ajax({
            url: ctxPath + "flatbed/sync/" + id,
            type: 'post'
        }).then(function (res) {
            if (0 == res.code) {
                grid.loadData();
               // top.bodyUnMask()
                top.Toast("showSuccessToast", '同步成功');
            } else {
                //top.bodyUnMask()
                top.Toast("showErrorToast", res.msg);
            }
        }, function () {
            //top.bodyUnMask()
            top.Toast("showErrorToast", '同步异常');
        })
    }

    function clearAll(){
        $.ajax({
            url: ctxPath + "flatbed/clearAll",
            type: 'delete'
        }).then(function (res) {
            if (0 == res.code) {
                grid.loadData();
                top.Toast("showSuccessToast", '全部清空完成，PAD正在重新启动，请稍等！');
            } else {
                top.Toast("showErrorToast",  res.msg);
            }
        }, function () {
            top.Toast("showErrorToast", '清空异常');
        })
    }

    var isSync = false;
    function syncAll(){
        if(!isSync){
            isSync = true;
            //top.bodyMask("正在同步中，请稍等....");
            $("#sync").mask("正在同步中，请稍等....");
            $.ajax({
                url: ctxPath + "flatbed/syncAll",
                type: 'post'
            }).then(function (res) {
                if (0 == res.code) {
                    grid.loadData();
                    $("#sync").unmask();
                    isSync = false;
                    //top.bodyUnMask()
                    top.Toast("showSuccessToast", '同步成功');
                } else {
                    $("#sync").unmask();
                    isSync = false;
                    //top.bodyUnMask()
                    top.Toast("showErrorToast",  res.msg);
                }
            }, function () {
                $("#sync").unmask();
                isSync = false;
                //top.bodyUnMask()
                top.Toast("showErrorToast", '同步异常');
            })
        }
    }
    //刷新
    function refresh(isUpdate) {
        if (!isUpdate) {
            grid.setNewPage(1);
        }
        grid.loadData();
    }

    // setInterval(process,2000);
    // function process(){
    //     $.ajax({
    //         url: ctxPath + "flatbed/list",
    //         type: 'get'
    //     }).then(function (res) {
    //         res.data.forEach(function(item){
    //             $("#status_"+item.id).html(item.onlineStatus == '0'?'在线':'离线');
    //             $("#process_"+item.id).html(item.process);
    //         })
    //     }, function () {
    //         console.log('异常');
    //     })
    // }
    // process();

    var socket;
    function openSocket() {
        if(typeof(WebSocket) == "undefined") {
            console.log("您的浏览器不支持WebSocket");
        }else{
            console.log("您的浏览器支持WebSocket");
            if(socket!=null){
                socket.close();
                socket=null;
            }
            socket = new WebSocket(ctxPath+"/imserver/"+$("#userId").val());
            //打开事件
            socket.onopen = function() {
                console.log("websocket已打开");
                //socket.send("这是来自客户端的消息" + location.href + new Date());
            };
            //获得消息事件
            socket.onmessage = function(msg) {
                console.log(msg.data);
                //发现消息进入    开始处理前端触发逻辑
            };
            //关闭事件
            socket.onclose = function() {
                console.log("websocket已关闭");
            };
            //发生了错误事件
            socket.onerror = function() {
                console.log("websocket发生了错误");
            }
        }
    }
    function sendMessage() {
        if(typeof(WebSocket) == "undefined") {
            console.log("您的浏览器不支持WebSocket");
        }else {
            console.log("您的浏览器支持WebSocket");
            console.log('{"toUserId":"'+$("#userId").val()+'","contentText":"'+$("#contentText").val()+'"}');
            socket.send('{"toUserId":"'+$("#userId").val()+'","contentText":"'+$("#contentText").val()+'"}');
        }
    }
    openSocket()
</script>
<style>
    .page_content {
        position: fixed;
        background-color: #ffffff;
        margin: 15px;
        height: calc(100vh - 140px);
        width: calc(100% - 45px);
        margin: 15px !important;
    }
</style>
</body>
</html>