body{
	background-color: #F5F5F5;
}

.more_hide {
	display: none;
}
.more {
	margin-bottom: 2.5rem;
	text-align: center;
	align-items: center;
	justify-content: center;
	color: #333;
}




.box{
	width: 94%;
	margin-left: 3%;
	margin-top: 20px;
}
.main_t{
	width: 100%;
}
.main_c {
	background-color: #fff;
	height: 110px;
	width: 94%;
	margin-left: 3%;
	box-shadow: #dbdada 2px 5px 8px;
	border-radius: 12px;
}
.main_c_t {
	padding-top: 20px;
	height: 50px;
	font-size: 18px;
	font-weight: 700;
	margin-left: 1.5rem;
}
.main_c_d {
	font-size: 14px;
	color: #999999;
	padding: 0px 1.5rem 15px 1.5rem;
}
.shangw{
	margin-top: 25px;
}
.top{
	width: 40px;
	height: 40px;
	border-radius: 20px;
	background-color: #ffffff;
	font-size: 1rem;
	text-align: center;
	line-height: 40px;
	position: absolute;
	bottom: 3rem;
	right: 1.5rem;
	box-shadow: #dbdada 1px 1px 1px;
}
.menu{
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	width: 55%;
	background-color: #FFFFFF !important;
	display: none;
	z-index: 999;
}
.img_tou{
	width: 100%;
	height: 220px;
	text-align: center;
	margin-top: 110px;
}
.user_name{
	color: #999999;
	font-size: 1.35rem;
	margin-top: 50px;
	height: 100px;
	line-height: 60px;
	text-align: center;
}


.my_jian{
	float: right;
	margin-top: -70px;
	margin-right: 3%;
}
.T_menu{
	background-color: #FFFFFF;
	margin-top: 10px;
	width: 100%;
	height: auto;
}
.some{
	height: 35px;
	line-height: 30px;
}
.some_fon{
	padding-left: 10px;
	font-size: 14px !important;
}
.my{
	width: 100%;
	height: 100px;
	background-color: #1A82D2;
}
.aui-media-list-item-inner{
	height: 100px !important;
}
.user_headimg{
	width: 67px;
	height: 67px;
	margin-top: 15px;
	margin-left: 15px;
	border-radius: 50%;
	border: 3px solid #5EA8DF;
}
.username{
	font-weight: 600;
	font-size: 15px;
	height: 25px;
	margin-left: 15px;
	color: #FFFFFF;
	margin-top: 30px;
}
.phonenum{
	font-size: 15px;
	height: 20px;
	line-height: 20px;
	margin-left: 15px;
	color: #FFFFFF;
	background-color: #2A89D5;
	text-align: center;
	width: 105px;
	border: 1px solid #5EA8DF;
	border-radius: 20px;
}
.some_fonz{
	padding-left: 15px;
	font-size: 20px !important;
}




.C_t{
	height: 280px;
	margin: 0;
}
.C_t_img{
	width: 600px;
	margin: auto;
	height: 200px;
	margin-top: 60px;
}
.C_content{
	float: left;
	width: 200px;
	height: 200px;
	margin: 0;
	border-radius: 100px;
	text-align: center;
	line-height: 200px;
}
.C_content_left{
	background-color: #3C90FE;
}
.font_C{
	font-size: 2.5rem;
}
.content_c{
	background-color: #fff;
	height: 390px;
	width: 94%;
	margin-left: 3%;
	box-shadow: #dbdada 4px 10px 17px;
	border-radius: 25px;
}
.C_content_top{
	height: 130px;
	line-height: 130px;
	margin-left: 5%;
	width: 90%;
}
.C_name{
	font-size: 1.35rem;
}
.C_name_left{
	color: #777777;
	float: left;
	margin-left: 10px;
}
.C_name_right{
	float: right;
	margin-right: 10px;
}
.close{
	font-size: 1.75rem;
	width: 100%;
	text-align: center;
	color: #B5B5B5;
	position: absolute;
	bottom: 5rem;
}



.list_har{
	width: 100%;
	height: 40px;
	background-color: #FFFFFF;
}
.har_left{
	float: left;
	margin-left: 16px;
	line-height: 40px;
	font-size: 18px;
}
.har_right{
	float: right;
	padding-right:10px ;
	height: 40px;
}
.aui-tab{
	height: 3.2rem !important;
	line-height: 3.2rem !important;
	font-size: 1.5rem !important;
}
.aui-tab-item{
	height: 3.2rem !important;
	line-height: 3.2rem !important;
	font-size: 1.5rem !important;
}
.aui-searchbar{
	height: 3.2rem !important;
	line-height: 3.2rem !important;
	font-size: 1.5rem !important;
	background-color: #ffffff !important;
}
.aui-searchbar-input{
	background-color: #e9e9e9 !important;
}
.list_content{
	width: 94%;
	margin-left: 3%;
}
.list_content_l{
	border-radius: 10px;
	margin-top: 10px;
	height: 130px;
	width: 100%;
	padding: 10px 10px;
	background-color: #ffffff;
	box-shadow: #dbdada 2px 5px 6px;
}
.list_content_one{
	height: 30px;
	width: 100%;
	font-size: 15px;
	color: #9e9e9e;
}
.list_content_left{
	float: left;
}
.list_content_right{
	float: right;
	padding-left: 10px;
}
#xian{
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}


.long_content{
	width: 94%;
	margin-left: 3%;
	background-color: #ffffff;
}
.long_t{
	width: 100%;
	height: 200px;
}
.cg_T{
	width: 100%;
	height: 150px;
	margin-top: 110px;
	line-height: 150px;
}
.cg_T_yuan{
	width: 130px;
	height: 130px;
	line-height: 130px;
	border-radius: 50%;
	background: #45be45;
	margin: auto;
	text-align: center;
}
.cg_D{
	width: 100%;
	height: 100px;
	line-height: 50px;
}
.cg_D_w{
	font-size: 18px;
	text-align: center;
	color: #a59c9c;
}
.cg_D_p{
	font-size: 16px;
	text-align: center;
	color: #2faaee;
}
.main_an{
	width: 86%;
	height: 35px;
	background-color: #4a9cd6;
	text-align: center;
	margin-left: 7%;
	margin-top: 25px;
	line-height: 35px;
	color: #ffffff;
	border-radius: 5px;
}
.view_title{
	width: 94%;
	margin-left: 3%;
	padding-top: 10px;
	margin-top: 10px;
	padding-left: 3%;
	padding-right: 3%;
	height: 75px;
	background-color: #FFFFFF;
}
.view_content{
	width: 94%;
	margin-left: 3%;
	padding-left: 3%;
	padding-right: 3%;
	padding-top: 5px;
	background-color: #FFFFFF;
}
.view_content_5{
	width: 100%;
	height: 40px;
	padding: 5px;
}
.line_s{
	display: block;
	float: left;
}
.line_s_1{
	width: 15%;
}
.line_s_2{
	width: 32%;
}
.line_s_3{
	width: 20%;
}
.line_s_4{
	width: 30%;
}
.line_s_5{
	width: 26%;
	text-align: center;
	margin-left: 21%;
}
.line_s_6{
	width: 25%;
	text-align: center;
	margin-left: 40%;
}
.view_an{
	width: 84%;
	margin-left: 8%;
	height: 50px;
	position: absolute;
	bottom: 1rem;
}
.view_an_an{
	width: 45%;
	float: left;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #FFFFFF;
	border-radius: 7px;
}
.view_an_t{
	margin-right: 5%;
	background-color: #438dde;
}
.view_an_b{
	margin-left: 5%;
	background-color: #f15d5d;;
}
.v_content{
	width: 100%;
	height: 70px;
}
.v_c3{
	float: left;
}
.v_content_i{
	width: 70px;
	height: 70px;
}
.v_content_y{
	float: right;
	width: 35%;
	height: 70px;
}
.v_content_n{
	height: 70px;
	margin-left: 20px;
}
.v_c_n_top{
	height: 35px;
	line-height: 35px;
}
.triangle_border_down{
	width:0;
	height:0;
	POSITION: ABSOLUTE;
	TOP: 10px;
	RIGHT: 3%;
	border-top: 50px solid #ffb576;
	border-left: 50px solid transparent;
}
.waizi{
	POSITION: ABSOLUTE;
	TOP: 20px;
	RIGHT: 3%;
	transform:rotate(45deg);
	-ms-transform:rotate(45deg); 	/* IE 9 */
	-moz-transform:rotate(45deg); 	/* Firefox */
	-webkit-transform:rotate(45deg); /* Safari 和 Chrome */
	-o-transform:rotate(45deg);
	font-size: 10px;
	color: #fff;
}
.dianhua{
	display: inline-block;
	width: 30px;
	height: 30px;
	border-radius: 15px;
	background-color: #d2d7d4;
	line-height: 30px;
	text-align: center;
	margin-left: 33%;
	margin-top: 20px;
}


.user-button{
	padding: 0 30px;
	position: absolute;
	width: 100%;
	bottom: 30px;
}