<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>幼儿园进出管控后台</title>
    <link rel="shortcut icon" href="static/favicon.ico" type="image/x-icon">
    <!-- iconfont start -->
    <link rel="stylesheet" type="text/css" th:href="@{/static/iconfont/iconfont.css}" href="../../static/iconfont/iconfont.css"/>
    <!-- iconfont end -->
    <!--框架必需start-->
    <link rel="stylesheet" type="text/css" th:href="@{/libs/css/import_basic.css}" href="../../libs/css/import_basic.css"/>
    <link rel="stylesheet" type="text/css" id="theme" themeColor="blue" th:href="@{/libs/skins/blue/style.css}"
          href="../../libs/skins/blue/style.css" positionTarget="positionContent"/>
    <link rel="stylesheet" type="text/css" id="skin" th:href="@{/system/skin/style.css}" href="../../system/skin/style.css" skinPath="system/skin/"/>
    <link rel="stylesheet" type="text/css" th:href="@{/system/skin/animate.min.css}" href="../../system/skin/animate.min.css"/>
    <script type="text/javascript" th:src="@{/libs/js/jquery.js}" src="../../libs/js/jquery.js"></script>
    <script type="text/javascript" th:src="@{/libs/js/language/cn.js}" src="../../libs/js/language/cn.js"></script>
    <script type="text/javascript" th:src="@{/libs/js/main.js}" src="../../libs/js/main.js"></script>
    <!--框架必需end-->

    <!--引入弹窗组件start-->
    <script type="text/javascript" th:src="@{/libs/js/popup/drag.js}" src="../../libs/js/popup/drag.js"></script>
    <script type="text/javascript" th:src="@{/libs/js/popup/dialog.js}" src="../../libs/js/popup/dialog.js"></script>
    <!--引入弹窗组件end-->

    <!--引入提示组件start-->
    <script type="text/javascript" th:src="@{/libs/js/popup/toast.js}" src="../../libs/js/popup/toast.js"></script>
    <script type="text/javascript" th:src="@{/libs/js/popup/notice.js}" src="../../libs/js/popup/notice.js"></script>
    <!--引入提示组件end-->

    <!--左侧导航start-->
    <script type="text/javascript" th:src="@{/libs/js/nav/menuNav.js}" src="../../libs/js/nav/menuNav.js"></script>
    <!--左侧导航end-->

    <!--引入小铃铛start-->
    <link rel="stylesheet" type="text/css" th:href="@{/libs/skins/blue/msgbox.css}" href="../../libs/skins/blue/msgbox.css"/>
    <script th:src="@{/libs/js/popup/msgbox.js}" src="../../libs/js/popup/msgbox.js" type="text/javascript" charset="utf-8"></script>
    <!--引入小铃铛end-->
    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        ctxPath = /*[[@{/}]]*/ '';
        /*]]>*/
    </script>
    <style>
        body {
            width: 100% !important;
            margin: 0;
            padding: 0;
        }

        /*修改小铃铛样式*/
        .right_tip {
            width: 60px !important;
            height: 30px;
            margin-left: 0;
            background: none !important;
        }

        .tip_icon {
            margin-top: 20px;
            margin-left: 5px;
        }

        .tip_balloons {
            margin-top: 10px;
        }

        .tip_toggle_content {
            top: 60px;
            right: -16px;
        }

        .tip_allcontent_win,
        .tip_allcontent {
            top: 0px;
        }

        .tip_icon {
            background: url(../../system/skin/page_head_ico.png) 0 -60px no-repeat;
        }

        .tip_icon_win:hover .tip_icon {
            background: url(../../system/skin/page_head_ico.png) 0 -60px no-repeat;
        }

        #positionContent {
            float: left;
            width: 250px;
            height: 60px;
            line-height: 60px;
            color: #4C4A4A;
            margin-left: 20px;
        }


        #user_info {
            background-image: url(../../system/skin/user_information.png);
            width: 40px;
            height: 40px;
        }

        .header_right > div.search em {
            display: block;
            width: 15px;
            height: 15px;
            position: absolute;
            top: 5px;
            right: 5px;
            background: url(../../system/skin/user_information.png) no-repeat center center;
        }

        ._uname {
            height: 60px;
            line-height: 60px;
            color: #4C4A4A;
        }


        .LeftNav_title {
            position: absolute;
        }

        #positionContent {
            position: absolute;
            left: 22px;
        }
    </style>
</head>
<body>
<div id="mainFrame">
    <!--头部与导航start-->
    <div id="hbox" style="">

    </div>
    <!--头部与导航end-->
    <div id="mainFrame">
        <table width="100%" cellpadding="0" cellspacing="0" class="table_border0">
            <tbody>
            <tr>
                <!--左侧区域start-->
                <td id="hideCon" class="ver01 ali01">
                    <div id="lbox" class="">
                        <div class="LeftNav_logo" id="lbox_topcenter">
                            <div class="top">
                                <img th:src="${'/system/skin/logo.png'}" src="../../system/skin/logo.png"/>
                                <span class="font"><img src="../../system/skin/font.png"></span>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div id="lbox_middlecenter">
                            <div id="lbox_middleleft">
                                <div id="lbox_middleright">
                                    <div id="bs_left" style="height: 685px; width: 220px;">


                                        <div class="LeftNav_win" style="overflow: auto;">

                                            <div class="stair_win" id="stair_win">


                                            </div>
                                        </div>
                                        <!--更改左侧栏的宽度需要修改id="bs_left"的样式-->
                                    </div>
                                </div>
                            </div>
                            <div id="lbox_bottomcenter" style="">
                                <div id="lbox_bottomleft">
                                    <div id="lbox_bottomright">
                                        <div class="lbox_foot"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </td>
                <!--左侧区域end-->

                <!--右侧区域start-->
                <td class="ali01 ver01" width="100%">
                    <div id="rbox">
                        <div id="rbox_topcenter" style="display: flex;">
                            <!--<div id="rbox_topleft">
                                <div id="rbox_topright"></div>
                            </div>-->
                            <div class="LeftNav_title" style="margin-left: 0px;"><b class=""></b></div>
                            <div id="positionContent">首页</div>

                            <!--<div class="navigation" style="flex: 1;">-->
                            <!--<ul class="sub-navigation">-->
                            <!--<li class="hvr-underline-from-center">基础信息</li>-->
                            <!--<li class="hvr-underline-from-center">安全追溯</li>-->
                            <!--<li class="hvr-underline-from-center">安全协作</li>-->
                            <!--<li class="hvr-underline-from-center">文件管理</li>-->
                            <!--<li class="hvr-underline-from-center">基础平台</li>-->
                            <!--</ul>-->
                            <!--</div>-->

                            <div class="header_right">
                                <!--<div class="search">-->
                                <!--<input type="text" name="" id="" value="">-->
                                <!--<em></em>-->
                                <!--</div>-->

<!--                                <div class="_uname" style="width:100px;overflow: hidden;">-->
<!--                                    <shiro:principal property="name"/>-->
<!--                                </div>-->

                                <!--<div class="right_tip">-->
                                <!--<div class="tip_icon_win">-->
                                <!--<span class="tip_icon"></span>-->
                                <!--<div class="tip_balloons">3</div>-->
                                <!--</div>-->
                                <!--<ul class="tip_toggle_content">-->
                                <!--<li class="tip_title clearfloat">-->
                                <!--<div class="tip_img"></div>-->
                                <!--<div class="tip_num">-->
                                <!--<span>3</span>条未读-->
                                <!--</div>-->
                                <!--<span class="tip_close"></span>-->
                                <!--</li>-->
                                <!--<li class="clearfloat tip_details_win">-->
                                <!--<div class="tip_details"><div class="tip_img tip_news"></div>-->
                                <!--<span class="tip_txt">请假正在审批中</span></div>-->
                                <!--<div class="tip_details"><div class="tip_img tip_news"></div>-->
                                <!--<span class="tip_txt">请各位周五前提交周报</span></div>-->
                                <!--<div class="tip_details"><div class="tip_img tip_news"></div>-->
                                <!--<span class="tip_txt">QUICKUI新版本上线啦</span></div></li>-->
                                <!--<li class="clearfloat tip_bottom"><span class="tip_txt_more">进入信件箱&gt;&gt;</span></li>-->
                                <!--</ul>-->
                                <!--</div>-->
                                <div class="home" title="首页">
                                    <a th:href="@{'/'}"></a>
                                </div>


                                <div class="setting" slide="false">
                                    <div class="right_toggle">
                                        <div class="user_information" title="用户中心">
                                            <b id="user_info"></b> <a href="javascript:;" target="frmright">

                                        </a>
                                        </div>
                                        <!--<span></span>-->
                                        <shiro:authenticated>
                                            <ul class="right_toggle_content" style="display: none;">
                                               <li class="clearfloat right_toggle_home" onclick="openData()"><i></i>
                                                    <div>数据大屏</div>
                                                </li>
                                                <li class="clearfloat right_toggle_lock_screen" onclick="changePassword()"><i></i>
                                                    <div>修改密码</div>
                                                </li>
                                                <li class="clearfloat right_toggle_sign_out" onclick="exitHandler()"><i></i>
                                                    <div>退出</div>
                                                </li>
                                            </ul>
                                        </shiro:authenticated>
                                    </div>
                                </div>
                                <!--<div class="setting">-->
                                <!--<div class="right_toggle">-->
                                <!--<span></span>-->
                                <!--<ul class="right_toggle_content" style="display: none;">-->
                                <!--&lt;!&ndash;<li class="clearfloat right_toggle_home"><a href="index.html" target="frmright"><i></i>首页</a></li>&ndash;&gt;-->
                                <!--<li class="clearfloat right_toggle_lock_screen" onclick="lockScreen()"><a href="javascript:;" target="frmright"><i></i>锁屏</a></li>-->
                                <!--<li class="clearfloat right_toggle_sign_out" onclick="top.Dialog.confirm(&#39;确定要退出系统吗&#39;,function(){});"><a href="javascript:;" target="frmright"><i></i>退出</a></li>-->
                                <!--</ul>-->
                                <!--</div>-->
                                <!--</div>-->
                                <span class="clear"></span>
                            </div>
                            <div class="clear"></div>
                            <!--<div class="rbox_topcenter_left" id="mainPos">

                            </div>
                            -->
                        </div>
                        <div id="rbox_middlecenter">
                            <div id="rbox_middleleft">
                                <div id="rbox_middleright">
                                    <div id="bs_right" style="height: 685px;">
                                        <IFRAME style="box-sizing: border-box;"
                                                height="100%" width="100%" frameBorder="0" id="frmright"
                                                name="frmright" th:src="@{'/page/user/index'}" allowTransparency="true"></IFRAME>
                                        <div class="loadmask"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="rbox_bottomcenter">
                            <div id="rbox_bottomleft">
                                <div id="rbox_bottomright">

                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <!--右侧区域end-->
            </tr>
            </tbody>
        </table>
    </div>

</div>
<!--尾部区域end-->
<!--浏览器resize事件修正start-->
<div id="resizeFix"></div>
<!--浏览器resize事件修正end-->

<!--窗口任务栏区域start-->
<div id="dialogTask" class="dialogTaskBg" style="display: none;"></div>
<!--窗口任务栏区域end-->

<!--载进度条start-->
<div class="progressBg" id="progress" style="display: none;">
    <div class="progressBar"></div>
</div>
<!--载进度条end-->
<script type="text/javascript">


    // var setting = {
    //     data: {
    //         state: 'min',
    //         simpleData: {
    //             idKey: "id",
    //             pIdKey: "parentId",
    //             enable: true
    //         },
    //         key: {
    //             children: "children"
    //         },
    //         minWidth: 100,
    //         lefticonTab: true
    //     }
    // };

    var setting = {
        data: {
            simpleData: {
                idKey: "id",
                pIdKey: "parentId",
                enable: true
            },
            key: {
                children: "children"
            }
        }
    };

    $(function () {
        $.get(ctxPath + "menu", {}, function (data) {
            initMenuNav(data.data, setting);
        });
    })


    function exitHandler() {
        top.Dialog.confirm("确定要退出系统吗", function () {
            window.location = ctxPath + "login/logout";
        });
    }

    function changePassword() {
        var diag = new top.Dialog();
        diag.Title = "修改密码";
        diag.URL = ctxPath + "page/index/chagepwd";
        //自定义长度和宽度的设置
        diag.Width = 380;
        diag.Height = 130;
        diag.ShowButtonRow = true;
        diag.OkButtonText = " 保 存 ";
        diag.OKEvent = function () {
            var demo = diag.innerFrame.contentWindow.save();
        };
        diag.show();
    }

    function information() {
        var diag = new top.Dialog();
        diag.Title = "个人信息";
        diag.URL = ctxPath + "page/index/information";
        //自定义长度和宽度的设置
        diag.Width = 650;
        diag.Height = 198;
        diag.ShowButtonRow = true;
        diag.OkButtonText = " 保 存 ";
        diag.OKEvent = function () {
            var demo = diag.innerFrame.contentWindow.save();
        };
        diag.show();
    }

    function openData(){
        window.open("data");
    }

</script>
</body>
</html>